{
  "revision": "20260913",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "canonicalName": "directory",
  "title": "Admin SDK API",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "packagePath": "admin",
  "schemas": {
    "VerificationCode": {
      "type": "object",
      "id": "VerificationCode",
      "properties": {
        "userId": {
          "type": "string",
          "description": "The obfuscated unique ID of the user."
        },
        "kind": {
          "description": "The type of the resource. This is always `admin#directory#verificationCode`.",
          "type": "string",
          "default": "admin#directory#verificationCode"
        },
        "verificationCode": {
          "description": "A current verification code for the user. Invalidated or used verification codes are not returned as part of the result.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "description": "The Directory API allows you to view, generate, and invalidate backup verification codes for a user."
    },
    "Building": {
      "description": "Public API: Resources.buildings",
      "type": "object",
      "id": "Building",
      "properties": {
        "etags": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#resources#buildings#Building",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "description": {
          "description": "A brief description of the building. For example, \"Chelsea Market\".",
          "type": "string"
        },
        "address": {
          "description": "The postal address of the building. See [`PostalAddress`](/my-business/reference/rest/v4/PostalAddress) for details. Note that only a single address line and region code are required.",
          "$ref": "BuildingAddress"
        },
        "floorNames": {
          "description": "The display names for all floors in this building. The floors are expected to be sorted in ascending order, from lowest floor to highest floor. For example, [\"B2\", \"B1\", \"L\", \"1\", \"2\", \"2M\", \"3\", \"PH\"] Must contain at least one entry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "coordinates": {
          "$ref": "BuildingCoordinates",
          "description": "The geographic coordinates of the center of the building, expressed as latitude and longitude in decimal degrees."
        },
        "buildingId": {
          "type": "string",
          "description": "Unique identifier for the building. The maximum length is 100 characters."
        },
        "buildingName": {
          "type": "string",
          "description": "The building name as seen by users in Calendar. Must be unique for the customer. For example, \"NYC-CHEL\". The maximum length is 100 characters."
        }
      }
    },
    "Alias": {
      "description": "JSON template for Alias object in Directory API.",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#alias",
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "primaryEmail": {
          "type": "string"
        }
      },
      "id": "Alias"
    },
    "UserSshPublicKey": {
      "properties": {
        "expirationTimeUsec": {
          "format": "int64",
          "type": "string",
          "description": "An expiration time in microseconds since epoch."
        },
        "fingerprint": {
          "type": "string",
          "description": "A SHA-256 fingerprint of the SSH public key. (Read-only)",
          "readOnly": true
        },
        "key": {
          "type": "string",
          "description": "An SSH public key."
        }
      },
      "id": "UserSshPublicKey",
      "type": "object",
      "description": "JSON template for a POSIX account entry."
    },
    "Asps": {
      "id": "Asps",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#aspList`.",
          "default": "admin#directory#aspList",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of ASP resources.",
          "items": {
            "$ref": "Asp"
          },
          "type": "array"
        }
      }
    },
    "ChromeOsDevices": {
      "id": "ChromeOsDevices",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. To access the next page, use this token's value in the `pageToken` query string of this request."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#chromeosdevices"
        },
        "chromeosdevices": {
          "items": {
            "$ref": "ChromeOsDevice"
          },
          "description": "A list of Chrome OS Device objects.",
          "type": "array"
        }
      }
    },
    "UserEmail": {
      "properties": {
        "address": {
          "description": "Email id of the user.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary email. Only one entry could be marked as primary.",
          "type": "boolean"
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example email could be of home, work etc. In addition to the standard type, an entry can have a custom type and can take any value Such types should have the CUSTOM value as type and also have a customType value."
        },
        "public_key_encryption_certificates": {
          "properties": {
            "is_default": {
              "description": "Whether this is the default certificate for the given email address.",
              "type": "boolean"
            },
            "certificate": {
              "type": "string",
              "description": "X.509 encryption certificate in `PEM` format. Must only be an end-entity (leaf) certificate."
            },
            "state": {
              "type": "string",
              "description": "Denotes the certificate's state in its lifecycle. Possible values are `not_yet_validated`, `valid`, `invalid`, `expired`, and `revoked`."
            }
          },
          "type": "object",
          "description": "Public Key Encryption Certificates. Current limit: 1 per email address, and 5 per user."
        }
      },
      "id": "UserEmail",
      "description": "JSON template for an email.",
      "type": "object"
    },
    "CustomerPostalAddress": {
      "properties": {
        "countryCode": {
          "description": "This is a required property. For `countryCode` information see the [ISO 3166 country code elements](https://www.iso.org/iso/country_codes.htm).",
          "type": "string"
        },
        "contactName": {
          "description": "The customer contact's name.",
          "type": "string"
        },
        "addressLine3": {
          "description": "Address line 3 of the address.",
          "type": "string"
        },
        "region": {
          "description": "Name of the region. An example of a region value is `NY` for the state of New York.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code. A postalCode example is a postal zip code such as `10009`. This is in accordance with - http: //portablecontacts.net/draft-spec.html#address_element."
        },
        "locality": {
          "type": "string",
          "description": "Name of the locality. An example of a locality value is the city of `San Francisco`."
        },
        "addressLine1": {
          "type": "string",
          "description": "A customer's physical address. The address can be composed of one to three lines."
        },
        "organizationName": {
          "type": "string",
          "description": "The company or company division name."
        },
        "addressLine2": {
          "description": "Address line 2 of the address.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomerPostalAddress"
    },
    "BatchChangeChromeOsDeviceStatusResponse": {
      "description": "The response of changing the status of a batch of ChromeOS devices.",
      "properties": {
        "changeChromeOsDeviceStatusResults": {
          "type": "array",
          "description": "The results for each of the ChromeOS devices provided in the request.",
          "items": {
            "$ref": "ChangeChromeOsDeviceStatusResult"
          }
        }
      },
      "type": "object",
      "id": "BatchChangeChromeOsDeviceStatusResponse"
    },
    "PrintServer": {
      "id": "PrintServer",
      "description": "Configuration for a print server.",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the print server was created.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "ID of the organization unit (OU) that owns this print server. This value can only be set when the print server is initially created. If it's not populated, the print server is placed under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/reference/rest/v1/orgunits).",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Immutable. ID of the print server. Leave empty when creating."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the print server. Leave empty when creating. Format: `customers/{customer.id}/printServers/{print_server.id}`"
        },
        "uri": {
          "description": "Editable. Print server URI.",
          "type": "string"
        },
        "displayName": {
          "description": "Editable. Display name of the print server (as shown in the Admin console).",
          "type": "string"
        },
        "description": {
          "description": "Editable. Description of the print server (as shown in the Admin console).",
          "type": "string"
        }
      }
    },
    "Channel": {
      "id": "Channel",
      "type": "object",
      "properties": {
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "default": "api#channel",
          "type": "string"
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional. For example, `params.ttl` specifies the time-to-live in seconds for the notification channel, where the default is 2 hours and the maximum TTL is 2 days.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "expiration": {
          "format": "int64",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "type": "string"
        }
      },
      "description": "An notification channel used to watch for resource changes."
    },
    "Member": {
      "description": "A Google Groups member can be a user or another group. This member can be inside or outside of your account's domains. For more information about common group member tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-group-members).",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "delivery_settings": {
          "description": "Defines mail delivery preferences of member. This field is only supported by `insert`, `update`, and `get` methods.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. For Members resources, the value is `admin#directory#member`.",
          "default": "admin#directory#member",
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "The member's role in a group. The API returns an error for cycles in group memberships. For example, if `group1` is a member of `group2`, `group2` cannot be a member of `group1`. For more information about a member's role, see the [administration help center](https://support.google.com/a/answer/167094)."
        },
        "id": {
          "description": "The unique ID of the group member. A member `id` can be used as a member request URI's `memberKey`.",
          "type": "string"
        },
        "email": {
          "description": "The member's email address. A member can be a user or another group. This property is required when adding a member to a group. The `email` must be unique and cannot be an alias of another group. If the email address is changed, the API automatically reflects the email address changes.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of member (Immutable)"
        },
        "type": {
          "description": "The type of group member.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Member"
    },
    "ByteUsage": {
      "description": "Represents a data capacity with some amount of current usage in bytes.",
      "type": "object",
      "properties": {
        "usedBytes": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current usage value, in bytes.",
          "format": "int64"
        },
        "capacityBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The total capacity value, in bytes.",
          "format": "int64"
        }
      },
      "id": "ByteUsage"
    },
    "DirectoryChromeosdevicesIssueCommandRequest": {
      "id": "DirectoryChromeosdevicesIssueCommandRequest",
      "description": "A request for issuing a command.",
      "properties": {
        "payload": {
          "type": "string",
          "description": "The payload for the command, provide it only if command supports it. The following commands support adding payload: * `SET_VOLUME`: Payload is a stringified JSON object in the form: { \"volume\": 50 }. The volume has to be an integer in the range [0,100]. * `DEVICE_START_CRD_SESSION`: Payload is optionally a stringified JSON object in the form: { \"ackedUserPresence\": true, \"crdSessionType\": string }. `ackedUserPresence` is a boolean. By default, `ackedUserPresence` is set to `false`. To start a Chrome Remote Desktop session for an active device, set `ackedUserPresence` to `true`. `crdSessionType` can only select from values `private` (which grants the remote admin exclusive control of the ChromeOS device) or `shared` (which allows the admin and the local user to share control of the ChromeOS device). If not set, `crdSessionType` defaults to `shared`. The `FETCH_CRD_AVAILABILITY_INFO` command can be used to determine available session types on the device. * `REBOOT`: Payload is a stringified JSON object in the form: { \"user_session_delay_seconds\": 300 }. The `user_session_delay_seconds` is the amount of seconds to wait before rebooting the device if a user is logged in. It has to be an integer in the range [0,300]. When payload is not present for reboot, 0 delay is the default. Note: This only applies if an actual user is logged in, including a Guest. If the device is in the login screen or in Kiosk mode the value is not respected and the device immediately reboots. * `FETCH_SUPPORT_PACKET`: Payload is optionally a stringified JSON object in the form: {\"supportPacketDetails\":{ \"issueCaseId\": optional_support_case_id_string, \"issueDescription\": optional_issue_description_string, \"requestedDataCollectors\": []}} The list of available `data_collector_enums` are as following: Chrome System Information (1), Crash IDs (2), Memory Details (3), UI Hierarchy (4), Additional ChromeOS Platform Logs (5), Device Event (6), Intel WiFi NICs Debug Dump (7), Touch Events (8), Lacros (9), Lacros System Information (10), ChromeOS Flex Logs (11), DBus Details (12), ChromeOS Network Routes (13), ChromeOS Shill (Connection Manager) Logs (14), Policies (15), ChromeOS System State and Logs (16), ChromeOS System Logs (17), ChromeOS Chrome User Logs (18), ChromeOS Bluetooth (19), ChromeOS Connected Input Devices (20), ChromeOS Traffic Counters (21), ChromeOS Virtual Keyboard (22), ChromeOS Network Health (23). See more details in [help article](https://support.google.com/chrome/a?p=remote-log)."
        },
        "commandType": {
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH",
            "DEVICE_START_CRD_SESSION",
            "CAPTURE_LOGS",
            "FETCH_CRD_AVAILABILITY_INFO",
            "FETCH_SUPPORT_PACKET"
          ],
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can be issued to Kiosk and managed guest session devices, and regular devices running ChromeOS version 113 or later.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!",
            "Starts a Chrome Remote Desktop session.",
            "Capture the system logs of a kiosk device. The logs can be downloaded from the downloadUrl link present in `deviceFiles` field of [chromeosdevices](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)",
            "Fetches available type(s) of Chrome Remote Desktop sessions (private or shared) that can be used to remotely connect to the device.",
            "Fetch support packet from a device remotely. Support packet is a zip archive that contains various system logs and debug data from a ChromeOS device. The support packet can be downloaded from the downloadURL link present in the `deviceFiles` field of [`chromeosdevices`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)"
          ],
          "description": "The type of command.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserIm": {
      "type": "object",
      "description": "JSON template for instant messenger of an user.",
      "id": "UserIm",
      "properties": {
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example instant messengers could be of home work etc. In addition to the standard type an entry can have a custom type and can take any value. Such types should have the CUSTOM value as type and also have a customType value."
        },
        "protocol": {
          "type": "string",
          "description": "Protocol used in the instant messenger. It should be one of the values from ImProtocolTypes map. Similar to type it can take a CUSTOM value and specify the custom name in customProtocol field."
        },
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary im. Only one entry could be marked as primary."
        },
        "customProtocol": {
          "type": "string",
          "description": "Custom protocol."
        },
        "im": {
          "description": "Instant messenger id.",
          "type": "string"
        }
      }
    },
    "ListPrinterModelsResponse": {
      "description": "Response for listing allowed printer models.",
      "id": "ListPrinterModelsResponse",
      "properties": {
        "printerModels": {
          "description": "Printer models that are currently allowed to be configured for ChromeOs. Some printers may be added or removed over time.",
          "items": {
            "$ref": "PrinterModel"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "FeatureInstance": {
      "id": "FeatureInstance",
      "properties": {
        "feature": {
          "$ref": "Feature",
          "description": "The feature that this is an instance of. A calendar resource may have multiple instances of a feature."
        }
      },
      "type": "object",
      "description": "JSON template for a feature instance."
    },
    "ChangeChromeOsDeviceStatusSucceeded": {
      "id": "ChangeChromeOsDeviceStatusSucceeded",
      "description": "Response for a successful ChromeOS device status change.",
      "type": "object",
      "properties": {}
    },
    "Groups": {
      "type": "object",
      "id": "Groups",
      "properties": {
        "kind": {
          "default": "admin#directory#groups",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access next page of this result."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "type": "array",
          "description": "A list of group objects."
        }
      }
    },
    "UserName": {
      "properties": {
        "givenName": {
          "type": "string",
          "description": "The user's first name. Required when creating a user account.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          }
        },
        "fullName": {
          "type": "string",
          "description": "The user's full name formed by concatenating the first and last name values."
        },
        "displayName": {
          "type": "string",
          "description": "The user's display name. Limit: 256 characters."
        },
        "familyName": {
          "description": "The user's last name. Required when creating a user account.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserName"
    },
    "Schemas": {
      "type": "object",
      "description": "JSON response template for List Schema operation in Directory API.",
      "id": "Schemas",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#schemas",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "schemas": {
          "items": {
            "$ref": "Schema"
          },
          "description": "A list of UserSchema objects.",
          "type": "array"
        }
      }
    },
    "SchemaFieldSpec": {
      "id": "SchemaFieldSpec",
      "description": "You can use schemas to add custom fields to user profiles. You can use these fields to store information such as the projects your users work on, their physical locations, their hire dates, or whatever else fits your business needs. For more information, see [Custom User Fields](https://developers.google.com/workspace/admin/directory/v1/guides/manage-schemas).",
      "type": "object",
      "properties": {
        "indexed": {
          "default": "true",
          "type": "boolean",
          "description": "Boolean specifying whether the field is indexed or not. Default: `true`."
        },
        "numericIndexingSpec": {
          "description": "Indexing spec for a numeric field. By default, only exact match queries will be supported for numeric fields. Setting the `numericIndexingSpec` allows range queries to be supported.",
          "properties": {
            "minValue": {
              "type": "number",
              "format": "double",
              "description": "Minimum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant."
            },
            "maxValue": {
              "description": "Maximum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "type": "number",
              "format": "double"
            }
          },
          "type": "object"
        },
        "fieldName": {
          "description": "The name of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "string"
        },
        "multiValued": {
          "description": "A boolean specifying whether this is a multi-valued field or not. Default: `false`.",
          "type": "boolean"
        },
        "kind": {
          "default": "admin#directory#schema#fieldspec",
          "type": "string",
          "description": "The kind of resource this is. For schema fields this is always `admin#directory#schema#fieldspec`."
        },
        "fieldType": {
          "description": "The type of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "string"
        },
        "fieldId": {
          "type": "string",
          "description": "The unique identifier of the field (Read-only)"
        },
        "readAccessType": {
          "type": "string",
          "description": "Specifies who can view values of this field. See [Retrieve users as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin) for more information. Note: It may take up to 24 hours for changes to this field to be reflected.",
          "default": "ALL_DOMAIN_USERS"
        },
        "etag": {
          "description": "The ETag of the field.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        }
      }
    },
    "RoleAssignment": {
      "description": "Defines an assignment of a role.",
      "type": "object",
      "properties": {
        "scopeType": {
          "description": "The scope in which this role is assigned.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "If the role is restricted to an organization unit, this contains the ID for the organization unit the exercise of this role is restricted to.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "Optional. The condition associated with this role assignment. Note: Feature is available to Enterprise Standard, Enterprise Plus, Google Workspace for Education Plus and Cloud Identity Premium customers. A `RoleAssignment` with the `condition` field set will only take effect when the resource being accessed meets the condition. If `condition` is empty, the role (`role_id`) is applied to the actor (`assigned_to`) at the scope (`scope_type`) unconditionally. Currently, the following conditions are supported: - To make the `RoleAssignment` only applicable to [Security Groups](https://cloud.google.com/identity/docs/groups#group_types): `api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.security']) && resource.type == 'cloudidentity.googleapis.com/Group'` - To make the `RoleAssignment` not applicable to [Security Groups](https://cloud.google.com/identity/docs/groups#group_types): `!api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.security']) && resource.type == 'cloudidentity.googleapis.com/Group'` Currently, the condition strings have to be verbatim and they only work with the following [pre-built administrator roles](https://support.google.com/a/answer/2405986): - Groups Editor - Groups Reader The condition follows [Cloud IAM condition syntax](https://cloud.google.com/iam/docs/conditions-overview). - To make the `RoleAssignment` not applicable to [Locked Groups](https://cloud.google.com/identity/docs/groups#group_types): `!api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.locked']) && resource.type == 'cloudidentity.googleapis.com/Group'` This condition can also be used in conjunction with a Security-related condition."
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#roleAssignment`.",
          "type": "string",
          "default": "admin#directory#roleAssignment"
        },
        "expirationDetails": {
          "$ref": "ExpirationDetails",
          "description": "Optional. Details regarding the expiration of this role assignment."
        },
        "assigneeType": {
          "readOnly": true,
          "enum": [
            "user",
            "group"
          ],
          "description": "Output only. The type of the assignee (`USER` or `GROUP`).",
          "type": "string",
          "enumDescriptions": [
            "An individual user within the domain.",
            "A group within the domain."
          ]
        },
        "roleId": {
          "type": "string",
          "description": "The ID of the role that is assigned.",
          "format": "int64"
        },
        "assignedTo": {
          "type": "string",
          "description": "The unique ID of the entity this role is assigned to—either the `user_id` of a user, the `group_id` of a group, or the `uniqueId` of a service account as defined in [Identity and Access Management (IAM)](https://cloud.google.com/iam/docs/reference/rest/v1/projects.serviceAccounts)."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "roleAssignmentId": {
          "type": "string",
          "description": "ID of this roleAssignment.",
          "format": "int64"
        }
      },
      "id": "RoleAssignment"
    },
    "UserCustomProperties": {
      "id": "UserCustomProperties",
      "additionalProperties": {
        "type": "any"
      },
      "type": "object",
      "description": "JSON template for a set of custom properties (i.e. all fields in a particular schema)"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "OrgUnits": {
      "id": "OrgUnits",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "organizationUnits": {
          "type": "array",
          "items": {
            "$ref": "OrgUnit"
          },
          "description": "A list of organizational unit objects."
        },
        "kind": {
          "description": "The type of the API resource. For Org Unit resources, the type is `admin#directory#orgUnits`.",
          "type": "string",
          "default": "admin#directory#orgUnits"
        }
      },
      "type": "object"
    },
    "BatchCreatePrintersResponse": {
      "type": "object",
      "properties": {
        "printers": {
          "description": "A list of successfully created printers with their IDs populated.",
          "items": {
            "$ref": "Printer"
          },
          "type": "array"
        },
        "failures": {
          "type": "array",
          "description": "A list of create failures. Printer IDs are not populated, as printer were not created.",
          "items": {
            "$ref": "FailureInfo"
          }
        }
      },
      "id": "BatchCreatePrintersResponse",
      "description": "Response for adding new printers in batch."
    },
    "DirectoryUsersCreateGuestRequest": {
      "id": "DirectoryUsersCreateGuestRequest",
      "properties": {
        "customer": {
          "type": "string",
          "description": "Optional. Immutable ID of the Google Workspace account. Only required when request is created by a service account. Defaults to the authenticated user's customer ID otherwise."
        },
        "primaryGuestEmail": {
          "description": "Required. External email of the guest user being created.",
          "type": "string"
        }
      },
      "description": "Directory users guest creation request message.",
      "type": "object"
    },
    "OrgUnit": {
      "description": "Managing your account's organizational units allows you to configure your users' access to services and custom settings. For more information about common organizational unit tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units.html). The customer's organizational unit hierarchy is limited to 35 levels of depth.",
      "id": "OrgUnit",
      "type": "object",
      "properties": {
        "name": {
          "description": "The organizational unit's path name. For example, an organizational unit's name within the /corp/support/sales_support parent path is sales_support. Required.",
          "annotations": {
            "required": [
              "directory.orgunits.insert"
            ]
          },
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. For Orgunits resources, the value is `admin#directory#orgUnit`.",
          "default": "admin#directory#orgUnit",
          "type": "string"
        },
        "parentOrgUnitId": {
          "description": "The unique ID of the parent organizational unit. Required, unless `parentOrgUnitPath` is set.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "orgUnitId": {
          "type": "string",
          "description": "The unique ID of the organizational unit."
        },
        "parentOrgUnitPath": {
          "type": "string",
          "description": "The organizational unit's parent path. For example, /corp/sales is the parent path for /corp/sales/sales_support organizational unit. Required, unless `parentOrgUnitId` is set."
        },
        "blockInheritance": {
          "description": "This field is deprecated and setting its value has no effect.",
          "deprecated": true,
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Description of the organizational unit."
        },
        "orgUnitPath": {
          "description": "The full path to the organizational unit. The `orgUnitPath` is a derived property. When listed, it is derived from `parentOrgunitPath` and organizational unit's `name`. For example, for an organizational unit named 'apps' under parent organization '/engineering', the orgUnitPath is '/engineering/apps'. In order to edit an `orgUnitPath`, either update the name of the organization or the `parentOrgunitPath`. A user's organizational unit determines which Google Workspace services the user has access to. If the user is moved to a new organization, the user's access changes. For more information about organization structures, see the [administration help center](https://support.google.com/a/answer/4352075). For more information about moving a user to a different organization, see [Update a user](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#update_user).",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "FanInfo": {
      "type": "object",
      "description": "Information about the device's fan.",
      "properties": {
        "speedRpm": {
          "format": "int32",
          "description": "Output only. Fan speed in RPM.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "FanInfo"
    },
    "AuxiliaryMessage": {
      "type": "object",
      "id": "AuxiliaryMessage",
      "properties": {
        "fieldMask": {
          "description": "Field that this message concerns.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "severity": {
          "enumDescriptions": [
            "Message type unspecified.",
            "Message of severity: info.",
            "Message of severity: warning.",
            "Message of severity: error."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "SEVERITY_INFO",
            "SEVERITY_WARNING",
            "SEVERITY_ERROR"
          ],
          "description": "Message severity",
          "type": "string"
        },
        "auxiliaryMessage": {
          "description": "Human readable message in English. Example: \"Given printer is invalid or no longer supported.\"",
          "type": "string"
        }
      },
      "description": "Auxiliary message about issues with printers or settings. Example: {message_type:AUXILIARY_MESSAGE_WARNING, field_mask:make_and_model, message:\"Given printer is invalid or no longer supported.\"}"
    },
    "UserUndelete": {
      "properties": {
        "orgUnitPath": {
          "description": "OrgUnit of User",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserUndelete"
    },
    "BatchCreatePrintServersRequest": {
      "description": "Request to add multiple new print servers in a batch.",
      "type": "object",
      "id": "BatchCreatePrintServersRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreatePrintServerRequest"
          },
          "type": "array",
          "description": "Required. A list of `PrintServer` resources to be created (max `50` per batch)."
        }
      }
    },
    "Printer": {
      "description": "Printer configuration.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Editable. Printer URI."
        },
        "makeAndModel": {
          "description": "Editable. Make and model of printer. e.g. Lexmark MS610de Value must be in format as seen in ListPrinterModels response.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Organization Unit that owns this printer (Only can be set during Printer creation)",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when printer was created.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the Printer object, in the format customers/{customer-id}/printers/{printer-id} (During printer creation leave empty)",
          "type": "string"
        },
        "id": {
          "description": "Id of the printer. (During printer creation leave empty)",
          "type": "string"
        },
        "displayName": {
          "description": "Editable. Name of printer.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Editable. Description of printer."
        },
        "auxiliaryMessages": {
          "items": {
            "$ref": "AuxiliaryMessage"
          },
          "readOnly": true,
          "description": "Output only. Auxiliary messages about issues with the printer configuration if any.",
          "type": "array"
        },
        "useDriverlessConfig": {
          "type": "boolean",
          "description": "Editable. flag to use driverless configuration or not. If it's set to be true, make_and_model can be ignored"
        }
      },
      "type": "object",
      "id": "Printer"
    },
    "Users": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result. The page token is only valid for three days.",
          "type": "string"
        },
        "users": {
          "description": "A list of user objects.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "kind": {
          "default": "admin#directory#users",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "trigger_event": {
          "type": "string",
          "description": "Event that triggered this response (only used in case of Push Response)"
        }
      },
      "id": "Users"
    },
    "Token": {
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "The Client ID of the application the token is issued to."
        },
        "anonymous": {
          "description": "Whether the application is registered with Google. The value is `true` if the application has an anonymous Client ID.",
          "type": "boolean"
        },
        "userKey": {
          "description": "The unique ID of the user that issued the token.",
          "type": "string"
        },
        "nativeApp": {
          "description": "Whether the token is issued to an installed application. The value is `true` if the application is installed to a desktop or mobile device.",
          "type": "boolean"
        },
        "kind": {
          "default": "admin#directory#token",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#token`."
        },
        "scopes": {
          "description": "A list of authorization scopes the application is granted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayText": {
          "description": "The displayable name of the application the token is issued to.",
          "type": "string"
        }
      },
      "description": "JSON template for token resource in Directory API.",
      "id": "Token",
      "type": "object"
    },
    "UserRelation": {
      "id": "UserRelation",
      "description": "JSON template for a relation entry.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The relation of the user. Some of the possible values are mother father sister brother manager assistant partner."
        },
        "value": {
          "description": "The name of the relation.",
          "type": "string"
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        }
      },
      "type": "object"
    },
    "DirectoryChromeosdevicesCommand": {
      "id": "DirectoryChromeosdevicesCommand",
      "description": "Information regarding a command that was issued to a device.",
      "type": "object",
      "properties": {
        "commandExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the command will expire. If the device doesn't execute the command within this time the command will become expired."
        },
        "state": {
          "enumDescriptions": [
            "The command status was unspecified.",
            "An unexpired command not yet sent to the client.",
            "The command didn't get executed by the client within the expected time.",
            "The command is cancelled by admin while in PENDING.",
            "The command has been sent to the client.",
            "The client has responded that it received the command.",
            "The client has (un)successfully executed the command."
          ],
          "type": "string",
          "description": "Indicates the command state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "EXPIRED",
            "CANCELLED",
            "SENT_TO_CLIENT",
            "ACKED_BY_CLIENT",
            "EXECUTED_BY_CLIENT"
          ]
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can be issued to Kiosk and managed guest session devices, and regular devices running ChromeOS version 113 or later.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!",
            "Starts a Chrome Remote Desktop session.",
            "Capture the system logs of a kiosk device. The logs can be downloaded from the downloadUrl link present in `deviceFiles` field of [chromeosdevices](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)",
            "Fetches available type(s) of Chrome Remote Desktop sessions (private or shared) that can be used to remotely connect to the device.",
            "Fetch support packet from a device remotely. Support packet is a zip archive that contains various system logs and debug data from a ChromeOS device. The support packet can be downloaded from the downloadURL link present in the `deviceFiles` field of [`chromeosdevices`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)"
          ],
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH",
            "DEVICE_START_CRD_SESSION",
            "CAPTURE_LOGS",
            "FETCH_CRD_AVAILABILITY_INFO",
            "FETCH_SUPPORT_PACKET"
          ],
          "description": "The type of the command."
        },
        "commandId": {
          "description": "Unique ID of a device command.",
          "type": "string",
          "format": "int64"
        },
        "issueTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the command was issued by the admin."
        },
        "payload": {
          "description": "The payload that the command specified, if any.",
          "type": "string"
        },
        "commandResult": {
          "description": "The result of the command execution.",
          "$ref": "DirectoryChromeosdevicesCommandResult"
        }
      }
    },
    "UserMakeAdmin": {
      "type": "object",
      "id": "UserMakeAdmin",
      "properties": {
        "status": {
          "type": "boolean",
          "description": "Indicates the administrator status of the user.",
          "annotations": {
            "required": [
              "directory.users.makeAdmin"
            ]
          }
        }
      }
    },
    "UserKeyword": {
      "id": "UserKeyword",
      "type": "object",
      "properties": {
        "type": {
          "description": "Each entry can have a type which indicates standard type of that entry. For example keyword could be of type occupation or outlook. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Keyword."
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        }
      },
      "description": "JSON template for a keyword entry."
    },
    "BatchDeletePrintServersRequest": {
      "id": "BatchDeletePrintServersRequest",
      "description": "Request to delete multiple existing print servers in a batch.",
      "type": "object",
      "properties": {
        "printServerIds": {
          "type": "array",
          "description": "A list of print server IDs that should be deleted (max `100` per batch).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MobileDevice": {
      "description": "Google Workspace Mobile Management includes Android, [Google Sync](https://support.google.com/a/answer/135937), and iOS devices. For more information about common group mobile device API tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices.html).",
      "type": "object",
      "id": "MobileDevice",
      "properties": {
        "os": {
          "description": "The mobile device's operating system, for example IOS 4.3 or Android 2.3.5. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices#update_mobile_device).",
          "type": "string"
        },
        "userAgent": {
          "description": "Gives information about the device such as `os` version. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices#update_mobile_device).",
          "type": "string"
        },
        "imei": {
          "description": "The device's IMEI number.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "The mobile device's model name, for example Nexus S. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile=devices#update_mobile_device)."
        },
        "devicePasswordStatus": {
          "description": "DevicePasswordStatus (Read-only)",
          "type": "string"
        },
        "otherAccountsInfo": {
          "description": "The list of accounts added on device (Read-only)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "releaseVersion": {
          "type": "string",
          "description": "Mobile Device release version version (Read-only)"
        },
        "unknownSourcesStatus": {
          "type": "boolean",
          "description": "Unknown sources enabled or disabled on device (Read-only)"
        },
        "type": {
          "type": "string",
          "description": "The type of mobile device."
        },
        "bootloaderVersion": {
          "description": "Mobile Device Bootloader version (Read-only)",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "The serial number for a Google Sync mobile device. For Android and iOS devices, this is a software generated unique identifier."
        },
        "name": {
          "description": "The list of the owner's user names. If your application needs the current list of device owner names, use the [get](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/get.html) method. For more information about retrieving mobile device user information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#get_user).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "basebandVersion": {
          "type": "string",
          "description": "The device's baseband version."
        },
        "firstSync": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time the device was first synchronized with the policy settings in the G Suite administrator control panel (Read-only)"
        },
        "encryptionStatus": {
          "description": "Mobile Device Encryption Status (Read-only)",
          "type": "string"
        },
        "lastSync": {
          "format": "date-time",
          "type": "string",
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)"
        },
        "adbStatus": {
          "type": "boolean",
          "description": "Adb (USB debugging) enabled or disabled on device (Read-only)"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "brand": {
          "type": "string",
          "description": "Mobile Device Brand (Read-only)"
        },
        "securityPatchLevel": {
          "type": "string",
          "description": "Mobile Device Security patch level (Read-only)",
          "format": "int64"
        },
        "serialNumber": {
          "type": "string",
          "description": "The device's serial number."
        },
        "buildNumber": {
          "type": "string",
          "description": "The device's operating system build number."
        },
        "privilege": {
          "type": "string",
          "description": "DMAgentPermission (Read-only)"
        },
        "developerOptionsStatus": {
          "type": "boolean",
          "description": "Developer options enabled or disabled on device (Read-only)"
        },
        "kind": {
          "description": "The type of the API resource. For Mobiledevices resources, the value is `admin#directory#mobiledevice`.",
          "type": "string",
          "default": "admin#directory#mobiledevice"
        },
        "hardwareId": {
          "type": "string",
          "description": "The IMEI/MEID unique identifier for Android hardware. It is not applicable to Google Sync devices. When adding an Android mobile device, this is an optional property. When updating one of these devices, this is a read-only property."
        },
        "meid": {
          "description": "The device's MEID number.",
          "type": "string"
        },
        "email": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of the owner's email addresses. If your application needs the current list of user emails, use the [get](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/get.html) method. For additional information, see the [retrieve a user](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#get_user) method."
        },
        "deviceCompromisedStatus": {
          "type": "string",
          "description": "The compromised device status."
        },
        "kernelVersion": {
          "description": "The device's kernel version.",
          "type": "string"
        },
        "applications": {
          "type": "array",
          "items": {
            "properties": {
              "packageName": {
                "type": "string",
                "description": "The application's package name. An example is `com.android.browser`."
              },
              "displayName": {
                "description": "The application's display name. An example is `Browser`.",
                "type": "string"
              },
              "versionCode": {
                "type": "integer",
                "format": "int32",
                "description": "The application's version code. An example is `13`."
              },
              "permission": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "description": "The list of permissions of this application. These can be either a standard Android permission or one defined by the application, and are found in an application's [Android manifest](https://developer.android.com/guide/topics/manifest/uses-permission-element.html). Examples of a Calendar application's permissions are `READ_CALENDAR`, or `MANAGE_ACCOUNTS`."
              },
              "versionName": {
                "description": "The application's version name. An example is `3.2-140714`.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "The list of applications installed on an Android mobile device. It is not applicable to Google Sync and iOS devices. The list includes any Android applications that access Google Workspace data. When updating an applications list, it is important to note that updates replace the existing list. If the Android device has two existing applications and the API updates the list with five applications, the is now the updated list of five applications."
        },
        "managedAccountIsOnOwnerProfile": {
          "type": "boolean",
          "description": "Boolean indicating if this account is on owner/primary profile or not."
        },
        "supportsWorkProfile": {
          "description": "Work profile supported on device (Read-only)",
          "type": "boolean"
        },
        "wifiMacAddress": {
          "description": "The device's MAC address on Wi-Fi networks.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "The default locale used on the device.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "Mobile Device manufacturer (Read-only)"
        },
        "hardware": {
          "type": "string",
          "description": "Mobile Device Hardware (Read-only)"
        },
        "status": {
          "description": "The device's status.",
          "type": "string"
        },
        "networkOperator": {
          "type": "string",
          "description": "Mobile Device mobile or network operator (if available) (Read-only)"
        },
        "resourceId": {
          "description": "The unique ID the API service uses to identify the mobile device.",
          "type": "string"
        }
      }
    },
    "BacklightInfo": {
      "properties": {
        "brightness": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Current brightness of the backlight, between 0 and max_brightness."
        },
        "path": {
          "description": "Output only. Path to this backlight on the system. Useful if the caller needs to correlate with other information.",
          "type": "string",
          "readOnly": true
        },
        "maxBrightness": {
          "readOnly": true,
          "description": "Output only. Maximum brightness for the backlight.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Information about the device's backlights.",
      "type": "object",
      "id": "BacklightInfo"
    },
    "ListPrintersResponse": {
      "properties": {
        "printers": {
          "type": "array",
          "items": {
            "$ref": "Printer"
          },
          "description": "List of printers. If `org_unit_id` was given in the request, then only printers visible for this OU will be returned. If `org_unit_id` was not given in the request, then all printers will be returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response for listing printers.",
      "id": "ListPrintersResponse"
    },
    "UserWebsite": {
      "type": "object",
      "description": "JSON template for a website entry.",
      "id": "UserWebsite",
      "properties": {
        "customType": {
          "type": "string",
          "description": "Custom Type."
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example website could be of home work blog etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
        },
        "value": {
          "description": "Website.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary website or not.",
          "type": "boolean"
        }
      }
    },
    "OsUpdateStatus": {
      "id": "OsUpdateStatus",
      "type": "object",
      "description": "Contains information regarding the current OS update status.",
      "properties": {
        "state": {
          "description": "The update state of an OS update.",
          "type": "string",
          "enumDescriptions": [
            "The update state is unspecified.",
            "There is an update pending but it hasn't started.",
            "The pending update is being downloaded.",
            "The device is ready to install the update, but must reboot."
          ],
          "enum": [
            "updateStateUnspecified",
            "updateStateNotStarted",
            "updateStateDownloadInProgress",
            "updateStateNeedReboot"
          ]
        },
        "targetOsVersion": {
          "description": "New platform version of the OS image being downloaded and applied. It is only set when update status is UPDATE_STATUS_DOWNLOAD_IN_PROGRESS or UPDATE_STATUS_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for UPDATE_STATUS_NEED_REBOOT for some edge cases, e.g. update engine is restarted without a reboot.",
          "type": "string"
        },
        "updateCheckTime": {
          "description": "Date and time of the last update check.",
          "type": "string"
        },
        "rebootTime": {
          "description": "Date and time of the last reboot.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Date and time of the last successful OS update."
        },
        "targetKioskAppVersion": {
          "type": "string",
          "description": "New required platform version from the pending updated kiosk app."
        }
      }
    },
    "ListPrintServersResponse": {
      "type": "object",
      "id": "ListPrintServersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` in a request to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "printServers": {
          "items": {
            "$ref": "PrintServer"
          },
          "description": "List of print servers.",
          "type": "array"
        }
      }
    },
    "ChangeChromeOsDeviceStatusResult": {
      "id": "ChangeChromeOsDeviceStatusResult",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "The unique ID of the ChromeOS device."
        },
        "response": {
          "description": "The device could change its status successfully.",
          "$ref": "ChangeChromeOsDeviceStatusSucceeded"
        },
        "error": {
          "description": "The error result of the operation in case of failure.",
          "$ref": "Status"
        }
      },
      "description": "The result of a single ChromeOS device for a Change state operation.",
      "type": "object"
    },
    "DirectoryChromeosdevicesIssueCommandResponse": {
      "id": "DirectoryChromeosdevicesIssueCommandResponse",
      "properties": {
        "commandId": {
          "description": "The unique ID of the issued command, used to retrieve the command status.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A response for issuing a command."
    },
    "CreatePrintServerRequest": {
      "properties": {
        "printServer": {
          "$ref": "PrintServer",
          "description": "Required. A print server to create. If you want to place the print server under a specific organizational unit (OU), then populate the `org_unit_id`. Otherwise the print server is created under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units)."
        },
        "parent": {
          "description": "Required. The [unique ID](https://developers.google.com/workspace/admin/directory/reference/rest/v1/customers) of the customer's Google Workspace account. Format: `customers/{id}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for adding a new print server.",
      "id": "CreatePrintServerRequest"
    },
    "BatchDeletePrintersRequest": {
      "properties": {
        "printerIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Printer.id that should be deleted. Max 100 at a time."
        }
      },
      "type": "object",
      "id": "BatchDeletePrintersRequest",
      "description": "Request for deleting existing printers in batch."
    },
    "Tokens": {
      "id": "Tokens",
      "type": "object",
      "description": "JSON response template for List tokens operation in Directory API.",
      "properties": {
        "kind": {
          "default": "admin#directory#tokenList",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#tokenList`."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "items": {
            "$ref": "Token"
          },
          "type": "array",
          "description": "A list of Token resources."
        }
      }
    },
    "Customer": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "The customer's contact phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format."
        },
        "postalAddress": {
          "description": "The customer's postal address information.",
          "$ref": "CustomerPostalAddress"
        },
        "customerCreationTime": {
          "type": "string",
          "format": "date-time",
          "description": "The customer's creation time (Readonly)"
        },
        "kind": {
          "description": "Identifies the resource as a customer. Value: `admin#directory#customer`",
          "type": "string",
          "default": "admin#directory#customer"
        },
        "language": {
          "type": "string",
          "description": "The customer's ISO 639-2 language code. See the [Language Codes](https://developers.google.com/workspace/admin/directory/v1/languages) page for the list of supported codes. Valid language codes outside the supported set will be accepted by the API but may lead to unexpected behavior. The default value is `en`."
        },
        "id": {
          "type": "string",
          "description": "The unique ID for the customer's Google Workspace account. (Readonly)"
        },
        "customerDomain": {
          "description": "The customer's primary domain name string. Do not include the `www` prefix when creating a new customer.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "alternateEmail": {
          "type": "string",
          "description": "The customer's secondary contact email address. This email address cannot be on the same domain as the `customerDomain`"
        }
      },
      "id": "Customer"
    },
    "UserAlias": {
      "id": "UserAlias",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`."
        },
        "id": {
          "description": "The unique ID for the user.",
          "type": "string"
        },
        "alias": {
          "type": "string",
          "description": "The alias email address."
        },
        "primaryEmail": {
          "description": "The user's primary email address.",
          "type": "string"
        }
      },
      "description": "The Directory API manages aliases, which are alternative email addresses."
    },
    "UserAddress": {
      "id": "UserAddress",
      "properties": {
        "formatted": {
          "description": "Formatted address.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "Postal code."
        },
        "streetAddress": {
          "type": "string",
          "description": "Street."
        },
        "country": {
          "type": "string",
          "description": "Country."
        },
        "countryCode": {
          "type": "string",
          "description": "Country code."
        },
        "primary": {
          "description": "If this is user's primary address. Only one entry could be marked as primary.",
          "type": "boolean"
        },
        "region": {
          "type": "string",
          "description": "Region."
        },
        "type": {
          "description": "Each entry can have a type which indicates standard values of that entry. For example address could be of home work etc. In addition to the standard type an entry can have a custom type and can take any value. Such type should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "sourceIsStructured": {
          "description": "User supplied address was structured. Structured addresses are NOT supported at this time. You might be able to write structured addresses but any values will eventually be clobbered.",
          "type": "boolean"
        },
        "poBox": {
          "description": "Other parts of address.",
          "type": "string"
        },
        "locality": {
          "type": "string",
          "description": "Locality."
        },
        "extendedAddress": {
          "description": "Extended Address.",
          "type": "string"
        }
      },
      "description": "JSON template for address.",
      "type": "object"
    },
    "GroupAlias": {
      "id": "GroupAlias",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID of the group."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "alias": {
          "description": "The alias email address.",
          "type": "string"
        },
        "primaryEmail": {
          "description": "The primary email address of the group.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`."
        }
      },
      "type": "object",
      "description": "The Directory API manages aliases, which are alternative email addresses."
    },
    "PrintServerFailureInfo": {
      "properties": {
        "errorMessage": {
          "description": "Failure reason message.",
          "type": "string"
        },
        "printServerId": {
          "type": "string",
          "description": "ID of a failed print server."
        },
        "printServer": {
          "$ref": "PrintServer",
          "description": "Failed print server."
        },
        "errorCode": {
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "description": "Canonical code for why the update failed to apply.",
          "type": "string",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ]
        }
      },
      "id": "PrintServerFailureInfo",
      "type": "object",
      "description": "Info about failures"
    },
    "UserPosixAccount": {
      "properties": {
        "uid": {
          "format": "uint64",
          "description": "The POSIX compliant user ID.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "A POSIX account field identifier."
        },
        "username": {
          "type": "string",
          "description": "The username of the account."
        },
        "systemId": {
          "type": "string",
          "description": "System identifier for which account Username or Uid apply to."
        },
        "operatingSystemType": {
          "type": "string",
          "description": "The operating system type for this account."
        },
        "homeDirectory": {
          "description": "The path to the home directory for this account.",
          "type": "string"
        },
        "gecos": {
          "description": "The GECOS (user information) for this account.",
          "type": "string"
        },
        "shell": {
          "type": "string",
          "description": "The path to the login shell for this account."
        },
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary account within the SystemId."
        },
        "gid": {
          "format": "uint64",
          "type": "string",
          "description": "The default group ID."
        }
      },
      "type": "object",
      "id": "UserPosixAccount",
      "description": "JSON template for a POSIX account entry."
    },
    "CountChromeOsDevicesResponse": {
      "type": "object",
      "description": "A response for counting ChromeOS devices.",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The total number of devices matching the request."
        }
      },
      "id": "CountChromeOsDevicesResponse"
    },
    "ChromeOsDevice": {
      "properties": {
        "osVersionCompliance": {
          "enum": [
            "complianceUnspecified",
            "compliant",
            "pending",
            "notCompliant"
          ],
          "description": "Output only. Device policy compliance status of the OS version.",
          "type": "string",
          "enumDescriptions": [
            "Compliance status unspecified.",
            "Compliance status compliant.",
            "Compliance status pending.",
            "Compliance status not compliant."
          ],
          "readOnly": true
        },
        "chromeOsType": {
          "readOnly": true,
          "enumDescriptions": [
            "Chrome OS Type unspecified.",
            "Chrome OS Type Chrome OS Flex.",
            "Chrome OS Type Chrome OS."
          ],
          "description": "Output only. Chrome OS type of the device.",
          "type": "string",
          "enum": [
            "chromeOsTypeUnspecified",
            "chromeOsFlex",
            "chromeOs"
          ]
        },
        "deviceId": {
          "description": "The unique ID of the Chrome device.",
          "type": "string"
        },
        "diskSpaceUsage": {
          "readOnly": true,
          "description": "Output only. How much disk space the device has available and is currently using.",
          "$ref": "ByteUsage"
        },
        "dockMacAddress": {
          "type": "string",
          "description": "(Read-only) Built-in MAC address for the docking station that the device connected to. Factory sets Media access control address (MAC address) assigned for use by a dock. It is reserved specifically for MAC pass through device policy. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices."
        },
        "ethernetMacAddress0": {
          "type": "string",
          "description": "(Read-only) MAC address used by the Chromebook’s internal ethernet port, and for onboard network (ethernet) interface. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices."
        },
        "orgUnitId": {
          "type": "string",
          "description": "The unique ID of the organizational unit. orgUnitPath is the human readable version of orgUnitId. While orgUnitPath may change by renaming an organizational unit within the path, orgUnitId is unchangeable for one organizational unit. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433)."
        },
        "extendedSupportEligible": {
          "readOnly": true,
          "description": "Output only. Whether or not the device requires the extended support opt in.",
          "type": "boolean"
        },
        "annotatedLocation": {
          "description": "The address or location of the device as noted by the administrator. Maximum length is `200` characters. Empty values are allowed.",
          "type": "string"
        },
        "willAutoRenew": {
          "type": "boolean",
          "description": "Determines if the device will auto renew its support after the support end date. This is a read-only property."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "recentUsers": {
          "type": "array",
          "items": {
            "type": "object",
            "description": "A list of recent device users, in descending order, by last login time.",
            "properties": {
              "email": {
                "description": "The user's email address. This is only present if the user type is `USER_TYPE_MANAGED`.",
                "type": "string"
              },
              "type": {
                "description": "The type of the user.",
                "type": "string"
              }
            }
          },
          "description": "A list of recent device users, in descending order, by last login time."
        },
        "lastSync": {
          "format": "date-time",
          "type": "string",
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)"
        },
        "notes": {
          "description": "Notes about this device added by the administrator. This property can be [searched](https://support.google.com/chrome/a/answer/1698333) with the [list](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices/list) method's `query` parameter. Maximum length is 500 characters. Empty values are allowed.",
          "type": "string"
        },
        "tpmVersionInfo": {
          "type": "object",
          "description": "Trusted Platform Module (TPM) (Read-only)",
          "properties": {
            "tpmModel": {
              "description": "TPM model number.",
              "type": "string"
            },
            "firmwareVersion": {
              "type": "string",
              "description": "TPM firmware version."
            },
            "specLevel": {
              "type": "string",
              "description": "TPM specification level. See Library Specification for TPM 2.0 and Main Specification for TPM 1.2."
            },
            "family": {
              "type": "string",
              "description": "TPM family. We use the TPM 2.0 style encoding, e.g.: TPM 1.2: \"1.2\" -\u003e 312e3200 TPM 2.0: \"2.0\" -\u003e 322e3000"
            },
            "vendorSpecific": {
              "type": "string",
              "description": "Vendor-specific information such as Vendor ID."
            },
            "manufacturer": {
              "description": "TPM manufacturer code.",
              "type": "string"
            }
          }
        },
        "cpuStatusReports": {
          "items": {
            "type": "object",
            "properties": {
              "cpuTemperatureInfo": {
                "items": {
                  "properties": {
                    "temperature": {
                      "description": "Temperature in Celsius degrees.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "label": {
                      "description": "CPU label",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array",
                "description": "A list of CPU temperature samples."
              },
              "reportTime": {
                "format": "date-time",
                "type": "string",
                "description": "Date and time the report was received."
              },
              "cpuUtilizationPercentageInfo": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "description": "Reports of CPU utilization and temperature (Read-only)",
          "type": "array"
        },
        "deviceFiles": {
          "description": "A list of device files to download (Read-only)",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "File name",
                "type": "string"
              },
              "createTime": {
                "description": "Date and time the file was created",
                "format": "date-time",
                "type": "string"
              },
              "type": {
                "description": "File type",
                "type": "string"
              },
              "downloadUrl": {
                "description": "File download URL",
                "type": "string"
              }
            }
          },
          "type": "array"
        },
        "lastKnownNetwork": {
          "type": "array",
          "items": {
            "description": "Information for an ip address.",
            "properties": {
              "ipAddress": {
                "type": "string",
                "description": "The IP address."
              },
              "wanIpAddress": {
                "description": "The WAN IP address.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "Contains last known network (Read-only)"
        },
        "fanInfo": {
          "description": "Output only. Fan information for the device.",
          "items": {
            "$ref": "FanInfo"
          },
          "readOnly": true,
          "type": "array"
        },
        "osVersion": {
          "description": "The Chrome device's operating system version.",
          "type": "string"
        },
        "annotatedAssetId": {
          "description": "The asset identifier as noted by an administrator or specified during enrollment.",
          "type": "string"
        },
        "cpuInfo": {
          "description": "Information regarding CPU specs in the device.",
          "items": {
            "type": "object",
            "description": "CPU specs for a CPU.",
            "properties": {
              "maxClockSpeedKhz": {
                "description": "The max CPU clock speed in kHz.",
                "format": "int32",
                "type": "integer"
              },
              "logicalCpus": {
                "description": "Information for the Logical CPUs",
                "type": "array",
                "items": {
                  "description": "Status of a single logical CPU.",
                  "properties": {
                    "cStates": {
                      "items": {
                        "properties": {
                          "sessionDuration": {
                            "format": "google-duration",
                            "description": "Time spent in the state since the last reboot.",
                            "type": "string"
                          },
                          "displayName": {
                            "description": "Name of the state.",
                            "type": "string"
                          }
                        },
                        "description": "Status of a single C-state. C-states are various modes the CPU can transition to in order to use more or less power.",
                        "type": "object"
                      },
                      "type": "array",
                      "description": "C-States indicate the power consumption state of the CPU. For more information look at documentation published by the CPU maker."
                    },
                    "currentScalingFrequencyKhz": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Current frequency the CPU is running at."
                    },
                    "maxScalingFrequencyKhz": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum frequency the CPU is allowed to run at, by policy."
                    },
                    "idleDuration": {
                      "type": "string",
                      "format": "google-duration",
                      "description": "Idle time since last boot."
                    }
                  },
                  "type": "object"
                }
              },
              "model": {
                "type": "string",
                "description": "The CPU model name."
              },
              "architecture": {
                "type": "string",
                "description": "The CPU architecture."
              }
            }
          },
          "type": "array"
        },
        "systemRamTotal": {
          "description": "Total RAM on the device [in bytes] (Read-only)",
          "type": "string",
          "format": "int64"
        },
        "lastEnrollmentTime": {
          "description": "Date and time the device was last enrolled (Read-only)",
          "type": "string",
          "format": "date-time"
        },
        "autoUpdateThrough": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp after which the device will stop receiving Chrome updates or support."
        },
        "bootMode": {
          "description": "The boot mode for the device. The possible values are: * `Verified`: The device is running a valid version of the Chrome OS. * `Dev`: The devices's developer hardware switch is enabled. When booted, the device has a command line shell. For an example of a developer switch, see the [Chromebook developer information](https://www.chromium.org/chromium-os/developer-information-for-chrome-os-devices/samsung-series-5-chromebook#TOC-Developer-switch).",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The status of the device."
        },
        "ethernetMacAddress": {
          "description": "The device's MAC address on the ethernet network interface.",
          "type": "string"
        },
        "activeTimeRanges": {
          "type": "array",
          "description": "A list of active time ranges (Read-only).",
          "items": {
            "type": "object",
            "properties": {
              "date": {
                "description": "Date of usage",
                "format": "date",
                "type": "string"
              },
              "activeTime": {
                "type": "integer",
                "format": "int32",
                "description": "Duration of usage in milliseconds."
              }
            }
          }
        },
        "annotatedUser": {
          "type": "string",
[...]
