{
  "kind": "discovery#restDescription",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "name": "people",
  "revision": "20260914",
  "version": "v1",
  "basePath": "",
  "id": "people:v1",
  "ownerName": "Google",
  "baseUrl": "https://people.googleapis.com/",
  "version_module": true,
  "protocol": "rest",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://people.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://developers.google.com/people/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/user.gender.read": {
          "description": "See your gender"
        },
        "https://www.googleapis.com/auth/contacts.other.readonly": {
          "description": "See and download contact info automatically saved in your \"Other contacts\""
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        },
        "https://www.googleapis.com/auth/directory.readonly": {
          "description": "See and download your organization's Google Workspace directory"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "See and download your exact date of birth"
        },
        "https://www.googleapis.com/auth/user.organization.read": {
          "description": "See your education, work history and org info"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "See and download all of your Google Account email addresses"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "See and download your personal phone numbers"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        }
      }
    }
  },
  "resources": {
    "otherContacts": {
      "methods": {
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "parameterOrder": [],
          "parameters": {
            "query": {
              "type": "string",
              "location": "query",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\"."
            },
            "readMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers"
            },
            "pageSize": {
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "path": "v1/otherContacts:search",
          "response": {
            "$ref": "SearchResponse"
          },
          "flatPath": "v1/otherContacts:search",
          "httpMethod": "GET",
          "description": "Provides a list of contacts in the authenticated user's other contacts that matches the search query. The query matches on a contact's `names`, `emailAddresses`, and `phoneNumbers` fields that are from the OTHER_CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/other-contacts#search_the_users_other_contacts",
          "id": "people.otherContacts.search"
        },
        "copyOtherContactToMyContactsGroup": {
          "description": "Copies an \"Other contact\" to a new contact in the user's \"myContacts\" group Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameters": {
            "resourceName": {
              "location": "path",
              "required": true,
              "pattern": "^otherContacts/[^/]+$",
              "description": "Required. The resource name of the \"Other contact\" to copy.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "CopyOtherContactToMyContactsGroupRequest"
          },
          "flatPath": "v1/otherContacts/{otherContactsId}:copyOtherContactToMyContactsGroup",
          "response": {
            "$ref": "Person"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "id": "people.otherContacts.copyOtherContactToMyContactsGroup",
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "POST",
          "path": "v1/{+resourceName}:copyOtherContactToMyContactsGroup"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "httpMethod": "GET",
          "id": "people.otherContacts.list",
          "description": "List all \"Other contacts\", that is contacts that are not in a contact group. \"Other contacts\" are typically auto created contacts from interactions. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's other contacts that have changed](/people/v1/other-contacts#list_the_users_other_contacts_that_have_changed).",
          "parameterOrder": [],
          "parameters": {
            "readMask": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. What values are valid depend on what ReadSourceType is used. If READ_SOURCE_TYPE_CONTACT is used, valid values are: * emailAddresses * metadata * names * phoneNumbers * photos If READ_SOURCE_TYPE_PROFILE is used, valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "type": "string",
              "location": "query"
            },
            "requestSyncToken": {
              "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `otherContacts.list`.",
              "type": "boolean",
              "location": "query"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `otherContacts.list` must match the first call that provided the sync token. More details about sync behavior at `otherContacts.list`."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The number of \"Other contacts\" to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `otherContacts.list` must match the first call that provided the page token."
            },
            "sources": {
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set. Possible values for this field are: * READ_SOURCE_TYPE_CONTACT * READ_SOURCE_TYPE_CONTACT,READ_SOURCE_TYPE_PROFILE Specifying READ_SOURCE_TYPE_PROFILE without specifying READ_SOURCE_TYPE_CONTACT is not permitted.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "repeated": true,
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            }
          },
          "response": {
            "$ref": "ListOtherContactsResponse"
          },
          "flatPath": "v1/otherContacts",
          "path": "v1/otherContacts"
        }
      }
    },
    "contactGroups": {
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              },
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "parameters": {
                "resourceName": {
                  "description": "Required. The resource name of the contact group to modify.",
                  "type": "string",
                  "pattern": "^contactGroups/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "resourceName"
              ],
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              },
              "path": "v1/{+resourceName}/members:modify",
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "id": "people.contactGroups.members.modify"
            }
          }
        }
      },
      "methods": {
        "update": {
          "parameters": {
            "resourceName": {
              "type": "string",
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "location": "path",
              "required": true,
              "pattern": "^contactGroups/[^/]+$"
            }
          },
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "response": {
            "$ref": "ContactGroup"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "PUT",
          "id": "people.contactGroups.update",
          "description": "Update the name of an existing contact group owned by the authenticated user. Updated contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/{+resourceName}"
        },
        "batchGet": {
          "httpMethod": "GET",
          "id": "people.contactGroups.batchGet",
          "path": "v1/contactGroups:batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "flatPath": "v1/contactGroups:batchGet",
          "parameters": {
            "resourceNames": {
              "location": "query",
              "type": "string",
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names.",
              "repeated": true
            },
            "maxMembers": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members."
            },
            "groupFields": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name"
            }
          },
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names.",
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          },
          "parameterOrder": []
        },
        "create": {
          "description": "Create a new contact group owned by the authenticated user. Created contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "request": {
            "$ref": "CreateContactGroupRequest"
          },
          "httpMethod": "POST",
          "id": "people.contactGroups.create",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "path": "v1/contactGroups",
          "parameters": {},
          "flatPath": "v1/contactGroups",
          "response": {
            "$ref": "ContactGroup"
          }
        },
        "get": {
          "parameters": {
            "groupFields": {
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "type": "string",
              "location": "query"
            },
            "maxMembers": {
              "format": "int32",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members.",
              "location": "query",
              "type": "integer"
            },
            "resourceName": {
              "location": "path",
              "required": true,
              "pattern": "^contactGroups/[^/]+$",
              "description": "Required. The resource name of the contact group to get.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name.",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "path": "v1/{+resourceName}",
          "response": {
            "$ref": "ContactGroup"
          },
          "id": "people.contactGroups.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceName"
          ]
        },
        "list": {
          "response": {
            "$ref": "ListContactGroupsResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v1/contactGroups",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "parameterOrder": [],
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated.",
          "id": "people.contactGroups.list",
          "parameters": {
            "groupFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
              "format": "int32"
            },
            "syncToken": {
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/contactGroups"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "path": "v1/{+resourceName}",
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "parameters": {
            "deleteContacts": {
              "description": "Optional. Set to true to also delete the contacts in the specified group.",
              "type": "boolean",
              "location": "query"
            },
            "resourceName": {
              "description": "Required. The resource name of the contact group to delete.",
              "type": "string",
              "pattern": "^contactGroups/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "id": "people.contactGroups.delete"
        }
      }
    },
    "people": {
      "methods": {
        "searchContacts": {
          "id": "people.people.searchContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "httpMethod": "GET",
          "description": "Provides a list of contacts in the authenticated user's grouped contacts that matches the search query. The query matches on a contact's `names`, `nickNames`, `emailAddresses`, `phoneNumbers`, and `organizations` fields that are from the CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/contacts#search_the_users_contacts",
          "response": {
            "$ref": "SearchResponse"
          },
          "path": "v1/people:searchContacts",
          "flatPath": "v1/people:searchContacts",
          "parameters": {
            "readMask": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string"
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\"."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30."
            },
            "sources": {
              "repeated": true,
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set.",
              "location": "query"
            }
          },
          "parameterOrder": []
        },
        "updateContactPhoto": {
          "id": "people.people.updateContactPhoto",
          "flatPath": "v1/people/{peopleId}:updateContactPhoto",
          "response": {
            "$ref": "UpdateContactPhotoResponse"
          },
          "request": {
            "$ref": "UpdateContactPhotoRequest"
          },
          "httpMethod": "PATCH",
          "path": "v1/{+resourceName}:updateContactPhoto",
          "description": "Update a contact's photo. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameters": {
            "resourceName": {
              "description": "Required. Person resource name",
              "location": "path",
              "required": true,
              "pattern": "^people/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ]
        },
        "updateContact": {
          "response": {
            "$ref": "Person"
          },
          "id": "people.people.updateContact",
          "flatPath": "v1/people/{peopleId}:updateContact",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Person"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Update contact data for an existing contact person. Any non-contact data will not be modified. Any non-contact data in the person to update will be ignored. All fields specified in the `update_mask` will be replaced. The server returns a 400 error if `person.metadata.sources` is not specified for the contact to be updated or if there is no contact source. The server returns a 400 error with reason `\"failedPrecondition\"` if `person.metadata.sources.etag` is different than the contact's etag, which indicates the contact has changed since its data was read. Clients should get the latest person and merge their updates into the latest person. If making sequential updates to the same person, the etag from the `updateContact` response should be used to avoid failures. The server returns a 400 error if `memberships` are being updated and there are no contact group memberships specified on the person. The server returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameters": {
            "updatePersonFields": {
              "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All updated fields will be replaced. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "sources": {
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "repeated": true,
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "location": "query"
            },
            "resourceName": {
              "location": "path",
              "required": true,
              "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`.",
              "type": "string",
              "pattern": "^people/[^/]+$"
            },
            "personFields": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "Optional. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "type": "string"
            }
          },
          "path": "v1/{+resourceName}:updateContact"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the person to provide information about. - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^people/[^/]+$"
            },
            "personFields": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "Required. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            },
            "sources": {
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "type": "string",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_PROFILE and READ_SOURCE_TYPE_CONTACT if not set.",
              "repeated": true
            },
            "requestMask.includeField": {
              "type": "string",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "path": "v1/{+resourceName}",
          "parameterOrder": [
            "resourceName"
          ],
          "id": "people.people.get",
          "description": "Provides information about a person by specifying a resource name. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Person"
          },
          "flatPath": "v1/people/{peopleId}"
        },
        "deleteContact": {
          "description": "Delete a contact person. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "parameters": {
            "resourceName": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^people/[^/]+$",
              "description": "Required. The resource name of the contact to delete."
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/people/{peopleId}:deleteContact",
          "path": "v1/{+resourceName}:deleteContact",
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "DELETE",
          "id": "people.people.deleteContact"
        },
        "getBatchGet": {
          "parameters": {
            "resourceNames": {
              "description": "Required. The resource names of the people to provide information about. It's repeatable. The URL query parameter should be resourceNames=\u003cname1\u003e&resourceNames=\u003cname2\u003e&... - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`. There is a maximum of 200 resource names.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "personFields": {
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "sources": {
              "location": "query",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ]
            },
            "requestMask.includeField": {
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "description": "Provides information about a list of specific people by specifying a list of requested resource names. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "httpMethod": "GET",
          "path": "v1/people:batchGet",
          "id": "people.people.getBatchGet",
          "flatPath": "v1/people:batchGet",
          "response": {
            "$ref": "GetPeopleResponse"
          },
          "parameterOrder": []
        },
        "batchDeleteContacts": {
          "id": "people.people.batchDeleteContacts",
          "description": "Delete a batch of contacts. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/people:batchDeleteContacts",
          "path": "v1/people:batchDeleteContacts",
          "parameters": {},
          "request": {
            "$ref": "BatchDeleteContactsRequest"
          },
          "parameterOrder": []
        },
        "listDirectoryPeople": {
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "parameterOrder": [],
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the directory people that have changed](/people/v1/directory#list_the_directory_people_that_have_changed).",
          "response": {
            "$ref": "ListDirectoryPeopleResponse"
          },
          "parameters": {
            "mergeSources": {
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "location": "query",
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers."
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0."
            },
            "requestSyncToken": {
              "type": "boolean",
              "description": "Optional. Whether the response should return `next_sync_token`. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.listDirectoryPeople`.",
              "location": "query"
            },
            "readMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            },
            "sources": {
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ],
              "repeated": true,
              "type": "string",
              "description": "Required. Directory sources to return."
            },
            "syncToken": {
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the sync token. More details about sync behavior at `people.listDirectoryPeople`.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1/people:listDirectoryPeople",
          "id": "people.people.listDirectoryPeople",
          "path": "v1/people:listDirectoryPeople",
          "httpMethod": "GET"
        },
        "deleteContactPhoto": {
          "description": "Delete a contact's photo. Mutate requests for the same user should be done sequentially to avoid // lock contention.",
          "id": "people.people.deleteContactPhoto",
          "parameters": {
            "sources": {
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "repeated": true,
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "location": "query"
            },
            "resourceName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the contact whose photo will be deleted.",
              "pattern": "^people/[^/]+$"
            },
            "personFields": {
              "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}:deleteContactPhoto",
          "flatPath": "v1/people/{peopleId}:deleteContactPhoto",
          "response": {
            "$ref": "DeleteContactPhotoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "httpMethod": "DELETE"
        },
        "batchCreateContacts": {
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "BatchCreateContactsResponse"
          },
          "flatPath": "v1/people:batchCreateContacts",
          "request": {
            "$ref": "BatchCreateContactsRequest"
          },
          "id": "people.people.batchCreateContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Create a batch of new contacts and return the PersonResponses for the newly Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "path": "v1/people:batchCreateContacts",
          "httpMethod": "POST"
        },
        "searchDirectoryPeople": {
          "httpMethod": "GET",
          "id": "people.people.searchDirectoryPeople",
          "flatPath": "v1/people:searchDirectoryPeople",
          "path": "v1/people:searchDirectoryPeople",
          "response": {
            "$ref": "SearchDirectoryPeopleResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory that match the search query.",
          "parameterOrder": [],
          "parameters": {
            "mergeSources": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "repeated": true,
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers."
            },
            "query": {
              "description": "Required. Prefix query that matches fields in the person. Does NOT use the read_mask for determining what fields to match.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchDirectoryPeople` must match the first call that provided the page token.",
              "type": "string"
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ],
              "location": "query",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "repeated": true,
              "description": "Required. Directory sources to return.",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 500, inclusive. Defaults to 100 if not set or set to 0.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "readMask": {
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "type": "string",
              "location": "query"
            }
          }
        },
        "batchUpdateContacts": {
          "response": {
            "$ref": "BatchUpdateContactsResponse"
          },
          "flatPath": "v1/people:batchUpdateContacts",
          "request": {
            "$ref": "BatchUpdateContactsRequest"
          },
          "description": "Update a batch of contacts and return a map of resource names to PersonResponses for the updated contacts. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "people.people.batchUpdateContacts",
          "path": "v1/people:batchUpdateContacts",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ]
        },
        "createContact": {
          "parameters": {
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            },
            "personFields": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            }
          },
          "request": {
            "$ref": "Person"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/people:createContact",
          "response": {
            "$ref": "Person"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "people.people.createContact",
          "path": "v1/people:createContact",
          "description": "Create a new contact and return the person resource for that contact. The request returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures."
        }
      },
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "flatPath": "v1/people/{peopleId}/connections",
              "parameterOrder": [
                "resourceName"
              ],
              "id": "people.people.connections.list",
              "description": "Provides a list of the authenticated user's contacts. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's contacts that have changed](/people/v1/contacts#list_the_users_contacts_that_have_changed).",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.connections.list` must match the first call that provided the page token.",
                  "type": "string"
                },
                "requestSyncToken": {
                  "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.connections.list`.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The number of connections to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0."
                },
                "sources": {
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified.",
                    "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                    "Returns SourceType.CONTACT.",
                    "Returns SourceType.DOMAIN_CONTACT.",
                    "Returns SourceType.OTHER_CONTACT."
                  ],
                  "location": "query",
                  "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
                  "repeated": true,
                  "enum": [
                    "READ_SOURCE_TYPE_UNSPECIFIED",
                    "READ_SOURCE_TYPE_PROFILE",
                    "READ_SOURCE_TYPE_CONTACT",
                    "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                    "READ_SOURCE_TYPE_OTHER_CONTACT"
                  ]
                },
                "sortOrder": {
                  "enum": [
                    "LAST_MODIFIED_ASCENDING",
                    "LAST_MODIFIED_DESCENDING",
                    "FIRST_NAME_ASCENDING",
                    "LAST_NAME_ASCENDING"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Sort people by when they were changed; older entries first.",
                    "Sort people by when they were changed; newer entries first.",
                    "Sort people by first name.",
                    "Sort people by last name."
                  ],
                  "description": "Optional. The order in which the connections should be sorted. Defaults to `LAST_MODIFIED_ASCENDING`.",
                  "type": "string"
                },
                "requestMask.includeField": {
                  "type": "string",
                  "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "resourceName": {
                  "pattern": "^people/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name to return connections for. Only `people/me` is valid.",
                  "type": "string"
                },
                "syncToken": {
                  "location": "query",
                  "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.connections.list` must match the first call that provided the sync token. More details about sync behavior at `people.connections.list`.",
                  "type": "string"
                },
                "personFields": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/contacts",
                "https://www.googleapis.com/auth/contacts.readonly"
              ],
              "path": "v1/{+resourceName}/connections"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "canonicalName": "People Service",
  "description": "Provides access to information about profiles and contacts.",
  "schemas": {
    "Nickname": {
      "id": "Nickname",
      "description": "A person's nickname.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the nickname.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The nickname.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ],
          "type": "string",
          "description": "The type of the nickname.",
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            false,
            true
          ]
        }
      }
    },
    "Organization": {
      "properties": {
        "symbol": {
          "description": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym.",
          "type": "string"
        },
        "endDate": {
          "description": "The end date when the person left the organization.",
          "$ref": "Date"
        },
        "domain": {
          "type": "string",
          "description": "The domain name associated with the organization; for example, `google.com`."
        },
        "department": {
          "description": "The person's department at the organization.",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "name": {
          "type": "string",
          "description": "The name of the organization."
        },
        "current": {
          "description": "True if the organization is the person's current organization; false if the organization is a past organization.",
          "type": "boolean"
        },
        "jobDescription": {
          "description": "The person's job description at the organization.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the organization.",
          "$ref": "FieldMetadata"
        },
        "fullTimeEquivalentMillipercent": {
          "type": "integer",
          "format": "int32",
          "description": "The person's full-time equivalent millipercent within the organization (100000 = 100%)."
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date when the person joined the organization."
        },
        "location": {
          "type": "string",
          "description": "The location of the organization office the person works at."
        },
        "phoneticName": {
          "type": "string",
          "description": "The phonetic name of the organization."
        },
        "costCenter": {
          "description": "The person's cost center at the organization.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`"
        },
        "title": {
          "type": "string",
          "description": "The person's job title at the organization."
        }
      },
      "description": "A person's past or current organization. Overlapping date ranges are permitted.",
      "type": "object",
      "id": "Organization"
    },
    "ContactGroupMembership": {
      "description": "A Google contact group membership.",
      "type": "object",
      "id": "ContactGroupMembership",
      "properties": {
        "contactGroupId": {
          "readOnly": true,
          "description": "Output only. The contact group ID for the contact group membership.",
          "type": "string",
          "deprecated": true
        },
        "contactGroupResourceName": {
          "type": "string",
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership."
        }
      }
    },
    "BatchUpdateContactsResponse": {
      "properties": {
        "updateResult": {
          "description": "A map of resource names to the contacts that were updated, unless the request `read_mask` is empty.",
          "additionalProperties": {
            "$ref": "PersonResponse"
          },
          "type": "object"
        }
      },
      "description": "If not successful, returns BatchUpdateContactsErrorDetails, a list of errors corresponding to each contact. The response to a request to update a batch of contacts.",
      "type": "object",
      "id": "BatchUpdateContactsResponse"
    },
    "Address": {
      "description": "A person's physical address. May be a P.O. box or street address. All fields are optional.",
      "properties": {
        "extendedAddress": {
          "description": "The extended address of the address; for example, the apartment number.",
          "type": "string"
        },
        "city": {
          "type": "string",
          "description": "The city of the address."
        },
        "country": {
          "description": "The country of the address.",
          "type": "string"
        },
        "poBox": {
          "type": "string",
          "description": "The P.O. box of the address."
        },
        "type": {
          "description": "The type of the address. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code of the address."
        },
        "streetAddress": {
          "description": "The street address.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "The region of the address; for example, the state or province."
        },
        "formattedValue": {
          "type": "string",
          "description": "The unstructured value of the address. If this is not set by the user it will be automatically constructed from structured values."
        },
        "countryCode": {
          "type": "string",
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country code of the address."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the address."
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        }
      },
      "id": "Address",
      "type": "object"
    },
    "ListDirectoryPeopleResponse": {
      "description": "The response to a request for the authenticated user's domain directory.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "people": {
          "description": "The list of people in the domain directory.",
          "type": "array",
          "items": {
            "$ref": "Person"
          }
        },
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token."
        }
      },
      "type": "object",
      "id": "ListDirectoryPeopleResponse"
    },
    "SearchResponse": {
      "properties": {
        "results": {
          "items": {
            "$ref": "SearchResult"
          },
          "description": "The results of the request.",
          "type": "array"
        }
      },
      "description": "The response to a search request for the authenticated user, given a query.",
      "id": "SearchResponse",
      "type": "object"
    },
    "Url": {
      "id": "Url",
      "description": "A person's associated URLs.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The URL."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the URL."
        },
        "formattedType": {
          "readOnly": true,
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "type": {
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ModifyContactGroupMembersRequest": {
      "type": "object",
      "description": "A request to modify an existing contact group's members. Contacts can be removed from any group but they can only be added to a user group or \"myContacts\" or \"starred\" system groups.",
      "properties": {
        "resourceNamesToAdd": {
          "description": "Optional. The resource names of the contact people to add in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceNamesToRemove": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The resource names of the contact people to remove in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000."
        }
      },
      "id": "ModifyContactGroupMembersRequest"
    },
    "PersonMetadata": {
      "id": "PersonMetadata",
      "description": "The metadata about a person.",
      "properties": {
        "sources": {
          "type": "array",
          "description": "The sources of data for the person.",
          "items": {
            "$ref": "Source"
          }
        },
        "objectType": {
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "deprecated": true,
          "type": "string",
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object.",
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "readOnly": true
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. True if the person resource has been deleted. Populated only for `people.connections.list` and `otherContacts.list` sync requests.",
          "readOnly": true
        },
        "linkedPeopleResourceNames": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Resource names of people linked to this resource."
        },
        "previousResourceNames": {
          "readOnly": true,
          "description": "Output only. Any former resource names this person has had. Populated only for `people.connections.list` requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SearchResult": {
      "id": "SearchResult",
      "type": "object",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The matched Person."
        }
      },
      "description": "A result of a search query."
    },
    "DomainMembership": {
      "description": "A Google Workspace Domain membership.",
      "id": "DomainMembership",
      "type": "object",
      "properties": {
        "inViewerDomain": {
          "description": "True if the person is in the viewer's Google Workspace domain.",
          "type": "boolean"
        }
      }
    },
    "Skill": {
      "id": "Skill",
      "properties": {
        "value": {
          "description": "The skill; for example, `underwater basket weaving`.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the skill.",
          "$ref": "FieldMetadata"
        }
      },
      "type": "object",
      "description": "A skill that the person has."
    },
    "BatchCreateContactsResponse": {
      "type": "object",
      "description": "If not successful, returns BatchCreateContactsErrorDetails which contains a list of errors for each invalid contact. The response to a request to create a batch of contacts.",
      "properties": {
        "createdPeople": {
          "type": "array",
          "items": {
            "$ref": "PersonResponse"
          },
          "description": "The contacts that were created, unless the request `read_mask` is empty."
        }
      },
      "id": "BatchCreateContactsResponse"
    },
    "Biography": {
      "description": "A person's short biography.",
      "type": "object",
      "id": "Biography",
      "properties": {
        "metadata": {
          "description": "Metadata about the biography.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The short biography.",
          "type": "string"
        },
        "contentType": {
          "type": "string",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ],
          "description": "The content type of the biography."
        }
      }
    },
    "ContactToCreate": {
      "properties": {
        "contactPerson": {
          "$ref": "Person",
          "description": "Required. The person data to populate a newly created source."
        }
      },
      "type": "object",
      "description": "A wrapper that contains the person data to populate a newly created source.",
      "id": "ContactToCreate"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "ExternalId": {
      "description": "An identifier from an external entity related to the person.",
      "properties": {
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "metadata": {
          "description": "Metadata about the external ID.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "description": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`",
          "type": "string"
        },
        "value": {
          "description": "The value of the external ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExternalId"
    },
    "ContactGroup": {
      "properties": {
        "clientData": {
          "items": {
            "$ref": "GroupClientData"
          },
          "description": "The group's client data.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error."
        },
        "memberResourceNames": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request.",
          "readOnly": true,
          "type": "array"
        },
        "groupType": {
          "description": "Output only. The contact group type.",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "readOnly": true,
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`."
        },
        "metadata": {
          "description": "Output only. Metadata about the contact group.",
          "readOnly": true,
          "$ref": "ContactGroupMetadata"
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "memberCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
          "format": "int32"
        },
        "formattedName": {
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "A contact group.",
      "id": "ContactGroup"
    },
    "SearchDirectoryPeopleResponse": {
      "properties": {
        "people": {
          "description": "The list of people in the domain directory that match the query.",
          "type": "array",
          "items": {
            "$ref": "Person"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of items in the list without pagination.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "SearchDirectoryPeopleResponse",
      "type": "object",
      "description": "The response to a request for people in the authenticated user's domain directory that match the specified query."
    },
    "Location": {
      "description": "A person's location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "current": {
          "type": "boolean",
          "description": "Whether the location is the current location."
        },
        "floorSection": {
          "description": "The floor section in `floor_name`.",
          "type": "string"
        },
        "deskCode": {
          "type": "string",
          "description": "The individual desk location."
        },
        "type": {
          "description": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`",
          "type": "string"
        },
        "floor": {
          "description": "The floor name or number.",
          "type": "string"
        },
        "buildingId": {
          "type": "string",
          "description": "The building identifier."
        },
        "value": {
          "description": "The free-form value of the location.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the location.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "Tagline": {
      "deprecated": true,
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the tagline."
        },
        "value": {
          "description": "The tagline.",
          "type": "string"
        }
      },
      "description": "**DEPRECATED**: No data will be returned A brief one-line description of the person.",
      "type": "object",
      "id": "Tagline"
    },
    "ImClient": {
      "properties": {
        "formattedProtocol": {
          "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the IM client.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "protocol": {
          "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`",
          "type": "string"
        },
        "username": {
          "description": "The user name used in the IM client.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A person's instant messaging client.",
      "id": "ImClient"
    },
    "BatchDeleteContactsRequest": {
      "type": "object",
      "id": "BatchDeleteContactsRequest",
      "description": "A request to delete a batch of existing contacts.",
      "properties": {
        "resourceNames": {
          "description": "Required. The resource names of the contact to delete. It's repeatable. Allows up to 500 resource names in a single request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "UserDefined": {
      "id": "UserDefined",
      "description": "Arbitrary user data that is populated by the end users.",
      "properties": {
        "key": {
          "description": "The end user specified key of the user defined data.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the user defined data.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The end user specified value of the user defined data.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Photo": {
      "description": "A person's photo. A picture shown next to the person's name to help others recognize the person.",
      "id": "Photo",
      "properties": {
        "metadata": {
          "description": "Metadata about the photo.",
          "$ref": "FieldMetadata"
        },
        "default": {
          "type": "boolean",
          "description": "True if the photo is a default photo; false if the photo is a user-provided photo."
        },
        "url": {
          "description": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CopyOtherContactToMyContactsGroupRequest": {
      "description": "A request to copy an \"Other contact\" to my contacts group.",
      "type": "object",
      "properties": {
        "sources": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "type": "string",
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ]
          },
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "type": "array"
        },
        "copyMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers"
        },
        "readMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        }
      },
      "id": "CopyOtherContactToMyContactsGroupRequest"
    },
    "ModifyContactGroupMembersResponse": {
      "properties": {
        "canNotRemoveLastContactGroupResourceNames": {
          "type": "array",
          "description": "The contact people resource names that cannot be removed from their last contact group.",
          "items": {
            "type": "string"
          }
        },
        "notFoundResourceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The contact people resource names that were not found."
        }
      },
      "type": "object",
      "description": "The response to a modify contact group members request.",
      "id": "ModifyContactGroupMembersResponse"
    },
    "Source": {
      "id": "Source",
      "description": "The source of a field.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "**Only populated in `person.metadata.sources`.** The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the source. Used for web cache validation.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the profile at [https://profiles.google.com/](https://profiles.google.com/){id}, where {id} is the source id.",
            "[Google Workspace domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the contact at [https://contact.google.com/](https://contact.google.com/){id}, where {id} is the source id.",
            "[Google \"Other contact\"](https://contacts.google.com/other).",
            "[Google Workspace domain shared contact](https://support.google.com/a/answer/9281635)."
          ],
          "description": "The source type.",
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT",
            "OTHER_CONTACT",
            "DOMAIN_CONTACT"
          ]
        },
        "id": {
          "description": "The unique identifier within the source type generated by the server.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. **Only populated in `person.metadata.sources`.** Last update timestamp of this source.",
          "format": "google-datetime"
        },
        "profileMetadata": {
          "description": "Output only. **Only populated in `person.metadata.sources`.** Metadata about a source of type PROFILE.",
          "$ref": "ProfileMetadata",
          "readOnly": true
        }
      }
    },
    "FieldMetadata": {
      "type": "object",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "The source of the field."
        },
        "sourcePrimary": {
          "description": "True if the field is the primary field for the source. Each source must have at most one field with `source_primary` set to true.",
          "type": "boolean"
        },
        "primary": {
          "readOnly": true,
          "description": "Output only. True if the field is the primary field for all sources in the person. Each person will have at most one field with `primary` set to true.",
          "type": "boolean"
        },
        "verified": {
          "readOnly": true,
          "description": "Output only. True if the field is verified; false if the field is unverified. A verified field is typically a name, email address, phone number, or website that has been confirmed to be owned by the person.",
          "type": "boolean"
        }
      },
      "id": "FieldMetadata",
      "description": "Metadata about a field."
    },
    "Event": {
      "description": "An event related to the person.",
      "type": "object",
      "id": "Event",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`"
        },
        "date": {
          "description": "The date of the event.",
          "$ref": "Date"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "metadata": {
          "description": "Metadata about the event.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "Birthday": {
      "properties": {
        "date": {
          "description": "The structured date of the birthday.",
          "$ref": "Date"
        },
        "metadata": {
          "description": "Metadata about the birthday.",
          "$ref": "FieldMetadata"
        },
        "text": {
          "type": "string",
          "description": "Prefer to use the `date` field if set. A free-form string representing the user's birthday. This value is not validated.",
          "deprecated": true
        }
      },
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to. Clients should always set the `date` field when mutating birthdays.",
      "type": "object",
      "id": "Birthday"
    },
    "CalendarUrl": {
      "description": "A person's calendar URL.",
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the calendar URL."
        },
        "type": {
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`",
          "type": "string"
        },
        "url": {
          "description": "The calendar URL.",
          "type": "string"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        }
      },
      "type": "object",
      "id": "CalendarUrl"
    },
    "ContactGroupResponse": {
      "id": "ContactGroupResponse",
      "description": "The response for a specific contact group.",
      "properties": {
        "contactGroup": {
          "$ref": "ContactGroup",
          "description": "The contact group."
        },
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name."
        },
        "status": {
          "$ref": "Status",
          "description": "The status of the response."
        }
      },
      "type": "object"
    },
    "PersonResponse": {
      "type": "object",
      "id": "PersonResponse",
      "description": "The response for a single person",
      "properties": {
        "httpStatusCode": {
          "type": "integer",
          "deprecated": true,
[...]
