{
  "protocol": "rest",
  "revision": "20260906",
  "baseUrl": "https://script.googleapis.com/",
  "basePath": "",
  "discoveryVersion": "v1",
  "title": "Apps Script API",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/apps-script/api/",
  "ownerDomain": "google.com",
  "id": "script:v1",
  "version": "v1",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "description": "Manages and executes Google Apps Script projects. ",
  "batchPath": "batch",
  "servicePath": "",
  "resources": {
    "projects": {
      "methods": {
        "getMetrics": {
          "parameters": {
            "scriptId": {
              "required": true,
              "description": "Required field indicating the script to get metrics for.",
              "location": "path",
              "type": "string"
            },
            "metricsGranularity": {
              "location": "query",
              "enumDescriptions": [
                "Default metric granularity used to query no metrics.",
                "Represents weekly metrics.",
                "Represents daily metrics over a period of 7 days."
              ],
              "enum": [
                "UNSPECIFIED_GRANULARITY",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "description": "Required field indicating what granularity of metrics are returned."
            },
            "metricsFilter.deploymentId": {
              "description": "Optional field indicating a specific deployment to retrieve metrics from.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1/projects/{scriptId}/metrics",
          "flatPath": "v1/projects/{scriptId}/metrics",
          "response": {
            "$ref": "Metrics"
          },
          "description": "Get metrics data for scripts, such as number of executions and active users.",
          "parameterOrder": [
            "scriptId"
          ],
          "httpMethod": "GET",
          "id": "script.projects.getMetrics",
          "scopes": [
            "https://www.googleapis.com/auth/script.metrics"
          ]
        },
        "getContent": {
          "parameters": {
            "scriptId": {
              "location": "path",
              "required": true,
              "description": "The script project's Drive ID.",
              "type": "string"
            },
            "versionNumber": {
              "format": "int32",
              "type": "integer",
              "description": "The version number of the project to retrieve. If not provided, the project's HEAD version is returned.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "path": "v1/projects/{scriptId}/content",
          "flatPath": "v1/projects/{scriptId}/content",
          "response": {
            "$ref": "Content"
          },
          "parameterOrder": [
            "scriptId"
          ],
          "description": "Gets the content of the script project, including the code source and metadata for each script file.",
          "httpMethod": "GET",
          "id": "script.projects.getContent"
        },
        "updateContent": {
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "request": {
            "$ref": "Content"
          },
          "parameters": {
            "scriptId": {
              "description": "The script project's Drive ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "scriptId"
          ],
          "path": "v1/projects/{scriptId}/content",
          "flatPath": "v1/projects/{scriptId}/content",
          "response": {
            "$ref": "Content"
          },
          "httpMethod": "PUT",
          "id": "script.projects.updateContent",
          "description": "Updates the content of the specified script project. This content is stored as the HEAD version, and is used when the script is executed as a trigger, in the script editor, in add-on preview mode, or as a web app or Apps Script API in development mode. This clears all the existing files in the project."
        },
        "create": {
          "parameterOrder": [],
          "flatPath": "v1/projects",
          "response": {
            "$ref": "Project"
          },
          "id": "script.projects.create",
          "httpMethod": "POST",
          "description": "Creates a new, empty script project with no script files and a base manifest file.",
          "request": {
            "$ref": "CreateProjectRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.projects"
          ],
          "path": "v1/projects",
          "parameters": {}
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/script.projects",
            "https://www.googleapis.com/auth/script.projects.readonly"
          ],
          "parameters": {
            "scriptId": {
              "type": "string",
              "required": true,
              "description": "The script project's Drive ID.",
              "location": "path"
            }
          },
          "path": "v1/projects/{scriptId}",
          "description": "Gets a script project's metadata.",
          "httpMethod": "GET",
          "id": "script.projects.get",
          "flatPath": "v1/projects/{scriptId}",
          "response": {
            "$ref": "Project"
          },
          "parameterOrder": [
            "scriptId"
          ]
        }
      },
      "resources": {
        "versions": {
          "methods": {
            "list": {
              "flatPath": "v1/projects/{scriptId}/versions",
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "description": "List the versions of a script project.",
              "parameterOrder": [
                "scriptId"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
                  "type": "string"
                },
                "scriptId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The script project's Drive ID."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of versions on each returned page. Defaults to 50.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "id": "script.projects.versions.list",
              "path": "v1/projects/{scriptId}/versions",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ]
            },
            "get": {
              "parameterOrder": [
                "scriptId",
                "versionNumber"
              ],
              "flatPath": "v1/projects/{scriptId}/versions/{versionNumber}",
              "response": {
                "$ref": "Version"
              },
              "path": "v1/projects/{scriptId}/versions/{versionNumber}",
              "scopes": [
                "https://www.googleapis.com/auth/script.projects",
                "https://www.googleapis.com/auth/script.projects.readonly"
              ],
              "parameters": {
                "versionNumber": {
                  "location": "path",
                  "format": "int32",
                  "description": "The version number.",
                  "required": true,
                  "type": "integer"
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "script.projects.versions.get",
              "description": "Gets a version of a script project.",
              "httpMethod": "GET"
            },
            "create": {
              "flatPath": "v1/projects/{scriptId}/versions",
              "response": {
                "$ref": "Version"
              },
              "parameters": {
                "scriptId": {
                  "type": "string",
                  "description": "The script project's Drive ID.",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Version"
              },
              "httpMethod": "POST",
              "path": "v1/projects/{scriptId}/versions",
              "description": "Creates a new immutable version using the current code, with a unique version number.",
              "parameterOrder": [
                "scriptId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/script.projects"
              ],
              "id": "script.projects.versions.create"
            }
          }
        },
        "deployments": {
          "methods": {
            "list": {
              "path": "v1/projects/{scriptId}/deployments",
              "httpMethod": "GET",
              "parameterOrder": [
                "scriptId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "id": "script.projects.deployments.list",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of deployments on each returned page. Defaults to 50."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
                },
                "scriptId": {
                  "type": "string",
                  "location": "path",
                  "description": "The script project's Drive ID.",
                  "required": true
                }
              },
              "description": "Lists the deployments of an Apps Script project.",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "response": {
                "$ref": "ListDeploymentsResponse"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "path": "v1/projects/{scriptId}/deployments",
              "httpMethod": "POST",
              "description": "Creates a deployment of an Apps Script project.",
              "request": {
                "$ref": "DeploymentConfig"
              },
              "parameterOrder": [
                "scriptId"
              ],
              "id": "script.projects.deployments.create",
              "flatPath": "v1/projects/{scriptId}/deployments",
              "response": {
                "$ref": "Deployment"
              },
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The script project's Drive ID."
                }
              }
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Deployment"
              },
              "httpMethod": "PUT",
              "id": "script.projects.deployments.update",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "description": "Updates a deployment of an Apps Script project.",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "parameters": {
                "scriptId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The script project's Drive ID."
                },
                "deploymentId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The deployment ID for this deployment."
                }
              },
              "request": {
                "$ref": "UpdateDeploymentRequest"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments",
                "https://www.googleapis.com/auth/script.deployments.readonly"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Deployment"
              },
              "description": "Gets a deployment of an Apps Script project.",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "parameters": {
                "deploymentId": {
                  "description": "The deployment ID.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "script.projects.deployments.get"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/script.deployments"
              ],
              "httpMethod": "DELETE",
              "path": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "id": "script.projects.deployments.delete",
              "parameterOrder": [
                "scriptId",
                "deploymentId"
              ],
              "flatPath": "v1/projects/{scriptId}/deployments/{deploymentId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "deploymentId": {
                  "type": "string",
                  "location": "path",
                  "description": "The deployment ID to be undeployed.",
                  "required": true
                },
                "scriptId": {
                  "description": "The script project's Drive ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Deletes a deployment of an Apps Script project."
            }
          }
        }
      }
    },
    "processes": {
      "methods": {
        "listScriptProcesses": {
          "id": "script.processes.listScriptProcesses",
          "description": "List information about a script's executed processes, such as process type and current status.",
          "httpMethod": "GET",
          "path": "v1/processes:listScriptProcesses",
          "flatPath": "v1/processes:listScriptProcesses",
          "response": {
            "$ref": "ListScriptProcessesResponse"
          },
          "parameters": {
            "scriptProcessFilter.endTime": {
              "type": "string",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "format": "google-datetime",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query"
            },
            "scriptProcessFilter.startTime": {
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp.",
              "format": "google-datetime"
            },
            "scriptProcessFilter.userAccessLevels": {
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ]
            },
            "scriptProcessFilter.deploymentId": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID."
            },
            "scriptProcessFilter.functionName": {
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name.",
              "type": "string",
              "location": "query"
            },
            "scriptId": {
              "description": "The script ID of the project whose processes are listed.",
              "type": "string",
              "location": "query"
            },
            "scriptProcessFilter.statuses": {
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses.",
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "location": "query",
              "repeated": true,
              "type": "string",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ]
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of returned processes per page of results. Defaults to 50."
            },
            "scriptProcessFilter.types": {
              "description": "Optional field used to limit returned processes to those having one of the specified process types.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ]
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ]
        },
        "list": {
          "flatPath": "v1/processes",
          "response": {
            "$ref": "ListUserProcessesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/script.processes"
          ],
          "path": "v1/processes",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of returned processes per page of results. Defaults to 50.",
              "format": "int32"
            },
            "userProcessFilter.statuses": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "enum": [
                "PROCESS_STATUS_UNSPECIFIED",
                "RUNNING",
                "PAUSED",
                "COMPLETED",
                "CANCELED",
                "FAILED",
                "TIMED_OUT",
                "UNKNOWN",
                "DELAYED",
                "EXECUTION_DISABLED"
              ],
              "enumDescriptions": [
                "Unspecified status.",
                "The process is currently running.",
                "The process has paused.",
                "The process has completed.",
                "The process was cancelled.",
                "The process failed.",
                "The process timed out.",
                "Process status unknown.",
                "The process is delayed, waiting for quota.",
                "AppsScript executions are disabled by Admin."
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified process statuses."
            },
            "userProcessFilter.deploymentId": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific deployment ID.",
              "type": "string"
            },
            "userProcessFilter.types": {
              "enumDescriptions": [
                "Unspecified type.",
                "The process was started from an add-on entry point.",
                "The process was started using the Apps Script API.",
                "The process was started from a time-based trigger.",
                "The process was started from an event-based trigger.",
                "The process was started from a web app entry point.",
                "The process was started using the Apps Script IDE.",
                "The process was started from a G Suite simple trigger.",
                "The process was started from a G Suite menu item.",
                "The process was started as a task in a batch job."
              ],
              "enum": [
                "PROCESS_TYPE_UNSPECIFIED",
                "ADD_ON",
                "EXECUTION_API",
                "TIME_DRIVEN",
                "TRIGGER",
                "WEBAPP",
                "EDITOR",
                "SIMPLE_TRIGGER",
                "MENU",
                "BATCH_TASK"
              ],
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Optional field used to limit returned processes to those having one of the specified process types."
            },
            "userProcessFilter.functionName": {
              "type": "string",
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from a script function with the given function name."
            },
            "userProcessFilter.startTime": {
              "location": "query",
              "type": "string",
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that were started on or after the given timestamp."
            },
            "userProcessFilter.userAccessLevels": {
              "location": "query",
              "repeated": true,
              "enum": [
                "USER_ACCESS_LEVEL_UNSPECIFIED",
                "NONE",
                "READ",
                "WRITE",
                "OWNER"
              ],
              "description": "Optional field used to limit returned processes to those having one of the specified user access levels.",
              "enumDescriptions": [
                "User access level unspecified",
                "The user has no access.",
                "The user has read-only access.",
                "The user has write access.",
                "The user is an owner."
              ],
              "type": "string"
            },
            "userProcessFilter.scriptId": {
              "location": "query",
              "description": "Optional field used to limit returned processes to those originating from projects with a specific script ID.",
              "type": "string"
            },
            "userProcessFilter.projectName": {
              "location": "query",
              "type": "string",
              "description": "Optional field used to limit returned processes to those originating from projects with project names containing a specific string."
            },
            "userProcessFilter.endTime": {
              "type": "string",
              "format": "google-datetime",
              "description": "Optional field used to limit returned processes to those that completed on or before the given timestamp.",
              "location": "query"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "description": "List information about processes made by or on behalf of a user, such as process type and current status.",
          "id": "script.processes.list",
          "httpMethod": "GET"
        }
      }
    },
    "scripts": {
      "methods": {
        "run": {
          "description": "",
          "parameters": {
            "scriptId": {
              "description": "The script ID of the script to be executed. Find the script ID on the **Project settings** page under \"IDs.\" As multiple executable APIs can be deployed in new IDE for same script, this field should be populated with DeploymentID generated while deploying in new IDE instead of script ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "script.scripts.run",
          "path": "v1/scripts/{scriptId}:run",
          "scopes": [
            "https://mail.google.com/",
            "https://www.google.com/calendar/feeds",
            "https://www.google.com/m8/feeds",
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/forms",
            "https://www.googleapis.com/auth/forms.currentonly",
            "https://www.googleapis.com/auth/groups",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/userinfo.email"
          ],
          "request": {
            "$ref": "ExecutionRequest"
          },
          "flatPath": "v1/scripts/{scriptId}:run",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "scriptId"
          ]
        }
      }
    }
  },
  "canonicalName": "Script",
  "mtlsRootUrl": "https://script.mtls.googleapis.com/",
  "rootUrl": "https://script.googleapis.com/",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "schemas": {
    "GoogleAppsScriptTypeUser": {
      "description": "A simple user profile resource.",
      "id": "GoogleAppsScriptTypeUser",
      "properties": {
        "domain": {
          "description": "The user's domain.",
          "type": "string"
        },
        "name": {
          "description": "The user's display name.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The user's photo.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The user's identifying email address."
        }
      },
      "type": "object"
    },
    "GoogleAppsScriptTypeAddOnEntryPoint": {
      "id": "GoogleAppsScriptTypeAddOnEntryPoint",
      "description": "An add-on entry point.",
      "type": "object",
      "properties": {
        "reportIssueUrl": {
          "type": "string",
          "description": "The add-on's optional report issue URL."
        },
        "title": {
          "description": "The add-on's required title.",
          "type": "string"
        },
        "description": {
          "description": "The add-on's optional description.",
          "type": "string"
        },
        "addOnType": {
          "description": "The add-on's required list of supported container types.",
          "enum": [
            "UNKNOWN_ADDON_TYPE",
            "GMAIL",
            "DATA_STUDIO"
          ],
          "enumDescriptions": [
            "Default value, unknown add-on type.",
            "Add-on type for Gmail.",
            "Add-on type for Data Studio."
          ],
          "type": "string"
        },
        "helpUrl": {
          "description": "The add-on's optional help URL.",
          "type": "string"
        },
        "postInstallTipUrl": {
          "description": "The add-on's required post install tip URL.",
          "type": "string"
        }
      }
    },
    "MetricsValue": {
      "id": "MetricsValue",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required field indicating the start time of the interval.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Required field indicating the end time of the interval.",
          "type": "string"
        },
        "value": {
          "format": "uint64",
          "description": "Indicates the number of executions counted.",
          "type": "string"
        }
      },
      "description": "Metrics value that holds number of executions counted.",
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "description": "Response with the list of deployments for the specified Apps Script project.",
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "type": "array",
          "items": {
            "$ref": "Deployment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used in the next call to get the next page of results."
        }
      },
      "type": "object",
      "id": "ListDeploymentsResponse"
    },
    "CreateProjectRequest": {
      "id": "CreateProjectRequest",
      "description": "Request to create a script project.",
      "type": "object",
      "properties": {
        "title": {
          "description": "The title for the project.",
          "type": "string"
        },
        "parentId": {
          "type": "string",
          "description": "The Drive ID of a parent file that the created script project is bound to. This is usually the ID of a Google Doc, Google Sheet, Google Form, or Google Slides file. If not set, a standalone script project is created."
        }
      }
    },
    "UpdateDeploymentRequest": {
      "id": "UpdateDeploymentRequest",
      "description": "Request with deployment information to update an existing deployment.",
      "type": "object",
      "properties": {
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        }
      }
    },
    "GoogleAppsScriptTypeWebAppConfig": {
      "properties": {
        "access": {
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "description": "Who has permission to run the web app.",
          "type": "string"
        },
        "executeAs": {
          "enumDescriptions": [
            "Default value, should not be used.",
            "The script runs as the user accessing the web app.",
            "The script runs as the user who deployed the web app. Note that this is not necessarily the owner of the script project."
          ],
          "enum": [
            "UNKNOWN_EXECUTE_AS",
            "USER_ACCESSING",
            "USER_DEPLOYING"
          ],
          "type": "string",
          "description": "Who to execute the web app as."
        }
      },
      "id": "GoogleAppsScriptTypeWebAppConfig",
      "description": "Web app entry point configuration.",
      "type": "object"
    },
    "GoogleAppsScriptTypeWebAppEntryPoint": {
      "id": "GoogleAppsScriptTypeWebAppEntryPoint",
      "properties": {
        "entryPointConfig": {
          "$ref": "GoogleAppsScriptTypeWebAppConfig",
          "description": "The entry point's configuration."
        },
        "url": {
          "description": "The URL for the web application.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A web application entry point."
    },
    "Status": {
      "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains this `Status` object.",
      "properties": {
        "code": {
          "description": "The status code. For this API, this value either: - 10, indicating a `SCRIPT_TIMEOUT` error, - 3, indicating an `INVALID_ARGUMENT` error, or - 1, indicating a `CANCELLED` execution. ",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "An array that contains a single ExecutionError object that provides information about the nature of the error.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the details field, or localized by the client."
        }
      },
      "type": "object",
      "id": "Status"
    },
    "Deployment": {
      "properties": {
        "entryPoints": {
          "description": "The deployment's entry points.",
          "type": "array",
          "items": {
            "$ref": "EntryPoint"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last modified date time stamp."
        },
        "deploymentConfig": {
          "$ref": "DeploymentConfig",
          "description": "The deployment configuration."
        },
        "deploymentId": {
          "type": "string",
          "description": "The deployment ID for this deployment."
        }
      },
      "id": "Deployment",
      "description": "Representation of a single script deployment.",
      "type": "object"
    },
    "ListScriptProcessesResponse": {
      "id": "ListScriptProcessesResponse",
      "properties": {
        "processes": {
          "description": "List of processes matching request parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        },
        "nextPageToken": {
          "description": "Token for the next page of results. If empty, there are no more pages remaining.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response with the list of Process resources."
    },
    "ExecutionRequest": {
      "properties": {
        "function": {
          "description": "The name of the function to execute in the given script. The name does not include parentheses or parameters. It can reference a function in an included library such as `Library.libFunction1`.",
          "type": "string"
        },
        "sessionState": {
          "type": "string",
          "description": "*Deprecated*. For use with Android add-ons only. An ID that represents the user's current session in the Android app for Google Docs or Sheets, included as extra data in the [Intent](https://developer.android.com/guide/components/intents-filters.html) that launches the add-on. When an Android add-on is run with a session state, it gains the privileges of a [bound](https://developers.google.com/apps-script/guides/bound) script—that is, it can access information like the user's current cursor position (in Docs) or selected cell (in Sheets). To retrieve the state, call `Intent.getStringExtra(\"com.google.android.apps.docs.addons.SessionState\")`. Optional."
        },
        "devMode": {
          "description": "If `true` and the user is an owner of the script, the script runs at the most recently saved version rather than the version deployed for use with the Apps Script API. Optional; default is `false`.",
          "type": "boolean"
        },
        "parameters": {
          "description": "The parameters to be passed to the function being executed. The object type for each parameter should match the expected type in Apps Script. Parameters cannot be Apps Script-specific object types (such as a `Document` or a `Calendar`); they can only be primitive types such as `string`, `number`, `array`, `object`, or `boolean`. Optional.",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "id": "ExecutionRequest",
      "type": "object",
      "description": "A request to run the function in a script. The script is identified by the specified `script_id`. Executing a function on a script returns results based on the implementation of the script."
    },
    "ExecutionError": {
      "id": "ExecutionError",
      "type": "object",
      "description": "An object that provides information about the nature of an error resulting from an attempted execution of a script function using the Apps Script API. If a run call succeeds but the script function (or Apps Script itself) throws an exception, the response body's error field contains a Status object. The `Status` object's `details` field contains an array with a single one of these `ExecutionError` objects.",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "The error message thrown by Apps Script, usually localized into the user's language."
        },
        "errorType": {
          "description": "The error type, for example `TypeError` or `ReferenceError`. If the error type is unavailable, this field is not included.",
          "type": "string"
        },
        "scriptStackTraceElements": {
          "items": {
            "$ref": "ScriptStackTraceElement"
          },
          "description": "An array of objects that provide a stack trace through the script to show where the execution failed, with the deepest call first.",
          "type": "array"
        }
      }
    },
    "File": {
      "properties": {
        "source": {
          "description": "The file content.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation date timestamp."
        },
        "type": {
          "description": "The type of the file.",
          "enumDescriptions": [
            "Undetermined file type; never actually used.",
            "An Apps Script server-side code file.",
            "A file containing client-side HTML.",
            "A file in JSON format. This type is only used for the script project's manifest. The manifest file content must match the structure of a valid [ScriptManifest](/apps-script/concepts/manifests)"
          ],
          "enum": [
            "ENUM_TYPE_UNSPECIFIED",
            "SERVER_JS",
            "HTML",
            "JSON"
          ],
          "type": "string"
        },
        "lastModifyUser": {
          "description": "The user who modified the file most recently. The details visible in this object are controlled by the profile visibility settings of the last modifying user.",
          "$ref": "GoogleAppsScriptTypeUser"
        },
        "functionSet": {
          "description": "The defined set of functions in the script file, if any.",
          "$ref": "GoogleAppsScriptTypeFunctionSet"
        },
        "name": {
          "type": "string",
          "description": "The name of the file. The file extension is not part of the file name, which can be identified from the type field."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last modified date timestamp."
        }
      },
      "description": "An individual file within a script project. A file is a third-party source code created by one or more developers. It can be a server-side JS code, HTML, or a configuration file. Each script project can contain multiple files.",
      "id": "File",
      "type": "object"
    },
    "DeploymentConfig": {
      "description": "Metadata the defines how a deployment is configured.",
      "id": "DeploymentConfig",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The script project's Drive ID."
        },
        "manifestFileName": {
          "description": "The manifest file name for this deployment.",
          "type": "string"
        },
        "versionNumber": {
          "description": "The version number on which this deployment is based.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "description": "The description for this deployment.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListUserProcessesResponse": {
      "description": "Response with the list of Process resources.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token for the next page of results. If empty, there are no more pages remaining."
        },
        "processes": {
          "description": "List of processes matching request parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeProcess"
          }
        }
      },
      "id": "ListUserProcessesResponse",
      "type": "object"
    },
    "ScriptStackTraceElement": {
      "id": "ScriptStackTraceElement",
      "properties": {
        "lineNumber": {
          "format": "int32",
          "description": "The line number where the script failed.",
          "type": "integer"
        },
        "function": {
          "description": "The name of the function that failed.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A stack trace through the script that shows where the execution failed."
    },
    "GoogleAppsScriptTypeFunctionSet": {
      "type": "object",
      "properties": {
        "values": {
          "description": "A list of functions composing the set.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsScriptTypeFunction"
          }
        }
      },
      "description": "A set of functions. No duplicates are permitted.",
      "id": "GoogleAppsScriptTypeFunctionSet"
    },
    "GoogleAppsScriptTypeExecutionApiEntryPoint": {
      "description": "An API executable entry point.",
      "type": "object",
      "properties": {
        "entryPointConfig": {
          "description": "The entry point's configuration.",
          "$ref": "GoogleAppsScriptTypeExecutionApiConfig"
        }
      },
      "id": "GoogleAppsScriptTypeExecutionApiEntryPoint"
    },
    "EntryPoint": {
      "id": "EntryPoint",
      "properties": {
        "addOn": {
          "$ref": "GoogleAppsScriptTypeAddOnEntryPoint",
          "description": "Add-on properties."
        },
        "entryPointType": {
          "type": "string",
          "enum": [
            "ENTRY_POINT_TYPE_UNSPECIFIED",
            "WEB_APP",
            "EXECUTION_API",
            "ADD_ON"
          ],
          "enumDescriptions": [
            "An unspecified entry point.",
            "A web application entry point.",
            "An API executable entry point.",
            "An Add-On entry point."
          ],
          "description": "The type of the entry point."
        },
        "webApp": {
          "description": "An entry point specification for web apps.",
          "$ref": "GoogleAppsScriptTypeWebAppEntryPoint"
        },
        "executionApi": {
          "description": "An entry point specification for Apps Script API execution calls.",
          "$ref": "GoogleAppsScriptTypeExecutionApiEntryPoint"
        }
      },
      "type": "object",
      "description": "A configuration that defines how a deployment is accessed externally."
    },
    "GoogleAppsScriptTypeExecutionApiConfig": {
      "type": "object",
      "description": "API executable entry point configuration.",
      "properties": {
        "access": {
          "description": "Who has permission to run the API executable.",
          "enum": [
            "UNKNOWN_ACCESS",
            "MYSELF",
            "DOMAIN",
            "ANYONE",
            "ANYONE_ANONYMOUS"
          ],
          "enumDescriptions": [
            "Default value, should not be used.",
            "Only the user who deployed the web app or executable can access it. Note that this is not necessarily the owner of the script project.",
            "Only users in the same domain as the user who deployed the web app or executable can access it.",
            "Any logged in user can access the web app or executable.",
            "Any user, logged in or not, can access the web app or executable."
          ],
          "type": "string"
        }
      },
      "id": "GoogleAppsScriptTypeExecutionApiConfig"
    },
    "ExecutionResponse": {
      "description": "An object that provides the return value of a function executed using the Apps Script API. If the script function returns successfully, the response body's response field contains this `ExecutionResponse` object.",
      "id": "ExecutionResponse",
      "properties": {
        "result": {
          "description": "The return value of the script function. The type matches the object type returned in Apps Script. Functions called using the Apps Script API cannot return Apps Script-specific objects (such as a `Document` or a `Calendar`); they can only return primitive types such as a `string`, `number`, `array`, `object`, or `boolean`.",
          "type": "any"
        }
      },
      "type": "object"
    },
    "Content": {
      "id": "Content",
      "properties": {
        "files": {
          "description": "The list of script project files. One of the files is a script manifest; it must be named \"appsscript\", must have type of JSON, and include the manifest configurations for the project.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Content resource."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "Project": {
      "type": "object",
      "description": "The script project resource.",
      "properties": {
        "createTime": {
          "description": "When the script was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "When the script was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "parentId": {
          "description": "The parent's Drive ID that the script will be attached to. This is usually the ID of a Google Document or Google Sheet. This field is optional, and if not set, a stand-alone script will be created.",
          "type": "string"
        },
        "creator": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who originally created the script."
        },
        "lastModifyUser": {
          "$ref": "GoogleAppsScriptTypeUser",
          "description": "User who last modified the script."
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title for the project."
        }
      },
      "id": "Project"
    },
    "GoogleAppsScriptTypeFunction": {
      "id": "GoogleAppsScriptTypeFunction",
      "properties": {
        "name": {
          "description": "The function name in the script project.",
          "type": "string"
        },
        "parameters": {
          "description": "The ordered list of parameter names of the function in the script project.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a function in a script project.",
      "type": "object"
    },
    "GoogleAppsScriptTypeProcess": {
      "type": "object",
      "description": "Representation of a single script process execution that was started from the script editor, a trigger, an application, or using the Apps Script API. This is distinct from the `Operation` resource, which only represents executions started via the Apps Script API.",
      "id": "GoogleAppsScriptTypeProcess",
      "properties": {
        "userAccessLevel": {
          "enum": [
            "USER_ACCESS_LEVEL_UNSPECIFIED",
            "NONE",
            "READ",
            "WRITE",
            "OWNER"
          ],
          "description": "The executing users access level to the script.",
          "enumDescriptions": [
            "User access level unspecified",
            "The user has no access.",
            "The user has read-only access.",
            "The user has write access.",
            "The user is an owner."
          ],
          "type": "string"
        },
        "runtimeVersion": {
          "type": "string",
          "description": "Which version of maestro to use to execute the script.",
          "enum": [
            "RUNTIME_VERSION_UNSPECIFIED",
            "DEPRECATED_ES5",
            "V8"
          ],
          "enumDescriptions": [
            "Runtime version unset / unknown.",
            "Legacy rhino version of the Apps script runtime",
            "Current default V8 version of the apps script runtime."
          ]
        },
        "projectName": {
          "description": "Name of the script being executed.",
          "type": "string"
        },
        "processStatus": {
          "enum": [
            "PROCESS_STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "CANCELED",
            "FAILED",
            "TIMED_OUT",
            "UNKNOWN",
            "DELAYED",
            "EXECUTION_DISABLED"
          ],
          "description": "The executions status.",
          "enumDescriptions": [
            "Unspecified status.",
            "The process is currently running.",
            "The process has paused.",
            "The process has completed.",
            "The process was cancelled.",
            "The process failed.",
            "The process timed out.",
            "Process status unknown.",
            "The process is delayed, waiting for quota.",
            "AppsScript executions are disabled by Admin."
          ],
          "type": "string"
        },
        "functionName": {
          "type": "string",
          "description": "Name of the function the started the execution."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time the execution started.",
          "type": "string"
        },
        "processType": {
          "enumDescriptions": [
            "Unspecified type.",
            "The process was started from an add-on entry point.",
            "The process was started using the Apps Script API.",
            "The process was started from a time-based trigger.",
            "The process was started from an event-based trigger.",
            "The process was started from a web app entry point.",
            "The process was started using the Apps Script IDE.",
            "The process was started from a G Suite simple trigger.",
            "The process was started from a G Suite menu item.",
            "The process was started as a task in a batch job."
          ],
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "ADD_ON",
            "EXECUTION_API",
            "TIME_DRIVEN",
            "TRIGGER",
            "WEBAPP",
            "EDITOR",
            "SIMPLE_TRIGGER",
            "MENU",
            "BATCH_TASK"
          ],
          "description": "The executions type.",
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "description": "Duration the execution spent executing.",
          "type": "string"
        }
      }
    },
    "ListVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token use to fetch the next page of records. if not exist in the response, that means no more versions to list.",
          "type": "string"
        },
        "versions": {
          "type": "array",
          "description": "The list of versions.",
          "items": {
            "$ref": "Version"
          }
        }
      },
      "type": "object",
      "id": "ListVersionsResponse",
      "description": "Response with the list of the versions for the specified script project."
    },
    "Operation": {
      "type": "object",
      "description": "A representation of an execution of an Apps Script function started with run. The execution response does not arrive until the function finishes executing. The maximum execution runtime is listed in the [Apps Script quotas guide](/apps-script/guides/services/quotas#current_limitations). After execution has started, it can have one of four outcomes: - If the script function returns successfully, the response field contains an ExecutionResponse object with the function's return value in the object's `result` field. - If the script function (or Apps Script itself) throws an exception, the error field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error. - If the execution has not yet completed, the done field is `false` and the neither the `response` nor `error` fields are present. - If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method returns an HTTP response code in the 4XX range with a different format for the response body. Client libraries automatically convert a 4XX response into an exception class. ",
      "properties": {
        "response": {
          "description": "If the script function returns successfully, this field contains an ExecutionResponse object with the function's return value.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "description": "If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field contains a Status object. The `Status` object's `details` field contains an array with a single ExecutionError object that provides information about the nature of the error.",
          "$ref": "Status"
        },
        "done": {
          "description": "This field indicates whether the script execution has completed. A completed execution has a populated `response` field containing the ExecutionResponse from function that was executed.",
          "type": "boolean"
        }
      },
      "id": "Operation"
    },
    "Version": {
      "description": "A resource representing a script project version. A version is a \"snapshot\" of a script project and is similar to a read-only branched release. When creating deployments, the version to use must be specified.",
      "id": "Version",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the version was created."
        },
        "versionNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The incremental ID that is created by Apps Script when a version is created. This is system assigned number and is immutable once created."
        },
        "scriptId": {
          "description": "The script project's Drive ID.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description for this version."
        }
      }
    },
    "Metrics": {
      "description": "Resource containing usage stats for a given script, based on the supplied filter and mask present in the request.",
      "properties": {
        "activeUsers": {
          "description": "Number of active users.",
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          }
        },
        "failedExecutions": {
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of failed executions.",
          "type": "array"
        },
        "totalExecutions": {
          "type": "array",
          "items": {
            "$ref": "MetricsValue"
          },
          "description": "Number of total executions."
        }
      },
      "type": "object",
      "id": "Metrics"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/script.projects": {
          "description": "Create and update Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/script.deployments": {
          "description": "Create and update Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/script.metrics": {
          "description": "View Google Apps Script project's metrics"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.google.com/calendar/feeds": {
          "description": "See, edit, share, and permanently delete all the calendars you can access using Google Calendar"
        },
        "https://www.googleapis.com/auth/script.deployments.readonly": {
          "description": "View Google Apps Script deployments"
        },
        "https://www.googleapis.com/auth/script.processes": {
          "description": "View Google Apps Script processes"
        },
        "https://www.google.com/m8/feeds": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/groups": {
          "description": "View and manage your Google Groups"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/forms": {
          "description": "View and manage your forms in Google Drive"
        },
        "https://www.googleapis.com/auth/script.projects.readonly": {
          "description": "View Google Apps Script projects"
        },
        "https://www.googleapis.com/auth/forms.currentonly": {
          "description": "View and manage forms that this application has been installed in"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        }
      }
    }
  },
  "name": "script"
}
